body {
  background: #0f1923;
  width: 100vw;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content {
  width: 100%;
  max-width: 1500px;
  position: relative;
  margin: 0 auto;
  margin-top: 65px;
  z-index: 1;
  flex: 1;
}

h1 {
  color: #ff2c2c;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
}

.slider {
  width: 100%;
  height: 400px;
  background: #334256;
}

@media (max-width: 1280px) {
  .content {
    margin-top: 125px;
  }
}

@media (max-width: 425px) {
  .content {
    margin-top: 110px;
  }
}
