body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
}

a {
  text-decoration: none;
  display: inline-block;
}

p {
  margin: 0;
  display: inline-block;
}

nav {
  position: fixed;
  width: 100%;
  background-color: #222c3a;
  height: 65px;
  z-index: 10;
}

nav div {
  z-index: 10;
}

nav#primary {
  top: 0px;
}

#nav-sec {
  position: fixed;
  top: 65px;
  right: 0px;
  width: 100%;
  z-index: 10;
}

nav#secondary {
  display: none;
  position: relative;
  height: 60px;
  background-color: #1a2431;
}

nav#actions-bar {
  position: relative;
  display: block;
  white-space: nowrap;
  height: 0px;
  overflow-y: hidden;
  background-color: #334256;
  -webkit-transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -ms-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  transition: 0.25s ease;
}

#nav-sec.nav-open nav#actions-bar {
  height: auto;
}

nav > div {
  display: inline-block;
  margin: 0px;
}

.nav-container {
  width: 100%;
  max-width: 1500px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#actions-bar--profile {
  overflow-x: hidden;
  width: auto;
  transform: none;
  left: auto;
  float: right;
}

#actions-bar--notif {
  direction: rtl;
  overflow-x: scroll;
  margin-bottom: -4px;
}

#actions-bar--notif::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
  height: 0px;
  background: transparent;
  /* optional: just make scrollbar invisible */
}

.action--hidden {
  display: none;
}

.home {
  position: relative;
  margin-left: 50px;
  top: 2.5px;
  height: 60px;
  display: flex;
  line-height: 60px;
  align-items: center;
}

.logo {
  fill: #ff2c2c;
}

.logo-dark {
  fill: #bf2030;
}

#logotype {
  font-family: "Montserrat", sans-serif;
  color: #ff2c2c;
  font-weight: 600;
  font-size: 30px;
  display: inline-block;
  margin: 0;
  margin-left: 12px;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.actions {
  position: relative;
  float: right;
  margin-right: 50px;
  top: 2.5px;
  display: flex;
  line-height: 60px;
  align-items: center;
}

.middle {
  position: absolute;
  top: 2.5px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  line-height: 60px;
  align-items: center;
}

.svgIcon {
  fill: none;
  stroke: #9fa4ae;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 6px;
  display: inline-block;
  -webkit-transition: 0.1s ease;
  -moz-transition: 0.1s ease;
  -ms-transition: 0.1s ease;
  -o-transition: 0.1s ease;
  transition: 0.1s ease;
}

.svgFill {
  fill: #9fa4ae;
}

.nav-title {
  font-family: "Nunito", sans-serif;
  color: #9fa4ae;
  font-weight: 400;
  font-size: 17px;
  margin-left: 10px;
  white-space: nowrap;
  -webkit-transition: 0.1s ease;
  -moz-transition: 0.1s ease;
  -ms-transition: 0.1s ease;
  -o-transition: 0.1s ease;
  transition: 0.1s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nav-title.fullwidth-svg {
  margin-left: 15px;
}

.nav-link {
  height: 60px;
  margin-left: 20px;
  margin-right: 20px;
  -webkit-transition: 0.1s ease;
  -moz-transition: 0.1s ease;
  -ms-transition: 0.1s ease;
  -o-transition: 0.1s ease;
  transition: 0.1s ease;
}

#actions-bar--profile .nav-link {
  height: 50px;
  vertical-align: bottom;
}

#actions-bar--profile .nav-link:last-child {
  margin-right: 30px;
}

#actions-bar--profile .nav-link:first-child {
  margin-right: 10px;
}

.middle .nav-link {
  margin-left: 40px;
  margin-right: 40px;
}

.nav-button {
  display: inline-flex;
  position: relative;
  height: 60px;
  width: auto;
  line-height: 60px;
  align-items: center;
  cursor: pointer;
}

.nav-button::before {
  content: "";
  position: absolute;
  background: #ff4040;
  width: calc(100% + 20px);
  height: 0px;
  left: -10px;
  bottom: -2px;
  -webkit-transition: 0.1s ease;
  -moz-transition: 0.1s ease;
  -ms-transition: 0.1s ease;
  -o-transition: 0.1s ease;
  transition: 0.1s ease;
}

.nav-button:hover::before {
  height: 5px;
}

.nav-button:hover .nav-title {
  color: #fff;
}

.nav-button:hover .svgIcon {
  stroke: #fff;
}

.nav-button:hover .svgFill {
  fill: #fff;
}

#actions-bar--profile .nav-button {
  height: 50px;
  line-height: 50px;
}

#actions-bar--profile .nav-button:hover:before {
  height: 0px;
}

.nav-button#nav-logout {
  padding-left: 10px;
  padding-right: 20px;
  background-color: #2a384a;
}

.nav-button--sel::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #334256 transparent;
  bottom: -2.5px;
  left: 2.5px;
}

.nav-button--sel:last-child::after {
  left: 7.5px;
}

.nav-button--sel .svgIcon {
  stroke: #fff;
}

.actions .nav-button:hover::before {
  height: 0px;
}

.nav-button.nav-link:hover .svgIcon, #actions-bar--profile .nav-button:hover .svgIcon {
  stroke: #fff;
}

#nav-profile {
  margin-right: 0;
}

.profilepic {
  height: 35px;
  width: 35px;
  background-image: url("/img/defaults/profile.png");
  border-radius: 50%;
  background-size: contain;
}

.profilepic#me {
  background-image: url("/img/profiles/me.jpg");
}

#notif-actions-section {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #2a384a;
  width: 100%;
  position: absolute;
}

#notif-actions-section .nav-container {
  left: auto;
  transform: none;
}

.notif-action {
  font-family: "Nunito", sans-serif;
  color: #9fa4ae;
  font-weight: 600;
  font-size: 15px;
  margin-left: 30px;
  -webkit-transition: 0.1s ease;
  -moz-transition: 0.1s ease;
  -ms-transition: 0.1s ease;
  -o-transition: 0.1s ease;
  transition: 0.1s ease;
  cursor: pointer;
}

.notif-action:first-child {
  margin-right: 50px;
}

.notif-action:hover {
  color: #fff;
}

.notif-action--sec {
  color: #ff4040;
  font-weight: 700;
}

.notif-action--sec:hover {
  color: #fff;
}

#notif-bar {
  width: 100vw;
  max-width: none;
  padding-top: 70px;
  padding-bottom: 20px;
}

.notif {
  direction: ltr;
  position: relative;
  display: inline-block;
  width: 75%;
  max-width: 350px;
  height: auto;
  background-color: #222c3a;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 20px;
  margin-left: 50px;
  vertical-align: top;
}

.notif::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0px;
  width: 100%;
  height: 10px;
  background-color: #9fa4ae;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.notif:first-child {
  margin-right: 50px;
}

.notif__close {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 2px;
  height: 10px;
  transform: rotate(45deg);
  background-color: #384b60;
  cursor: pointer;
}

.notif__close::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 10px;
  transform: rotate(90deg);
  background-color: #384b60;
  cursor: pointer;
}

.notif__info {
  display: inline-block;
  width: auto;
  padding-right: 10px;
}

.notif__info__pic {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: #334256;
  border-radius: 10px;
}

.notif__info__desc {
  display: inline-block;
  white-space: normal;
  width: 80%;
  height: auto;
  background: #222c3a;
  vertical-align: top;
  padding-left: 20px;
}

.notif__info__desc__action {
  font-family: "Nunito", sans-serif;
  color: #9fa4ae;
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 5px;
  line-height: 23px;
}

.notif__info__desc__action a {
  font-weight: 700;
  cursor: pointer;
}

.notif__info__desc__time {
  font-family: "Nunito", sans-serif;
  color: #384b60;
  font-weight: 400;
  font-size: 13px;
}

.notif__actions {
  padding-top: 20px;
}

.notif__actions__btn {
  position: relative;
  font-family: "Nunito", sans-serif;
  color: #9fa4ae;
  font-weight: 400;
  font-size: 15px;
  display: inline-block;
  width: auto;
  border: 2px solid #384b60;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 10px;
  cursor: pointer;
  -webkit-transition: 0.1s ease;
  -moz-transition: 0.1s ease;
  -ms-transition: 0.1s ease;
  -o-transition: 0.1s ease;
  transition: 0.1s ease;
}

.notif__actions__btn:hover {
  background-color: #384b60;
  color: #9fa4ae;
}

.notif__actions__btn--pri {
  font-weight: 700;
}

.notif--friend::before {
  background-color: #138fdf;
}

.notif--friend .notif__actions__btn--pri {
  border-color: #9fa4ae;
}

.notif--friend .notif__actions__btn--pri:hover {
  background-color: #9fa4ae;
  color: #222c3a;
}

.notif--challenge::before {
  background-color: #ff4040;
}

.notif--challenge .notif__actions__btn--pri {
  border-color: #9fa4ae;
}

.notif--challenge .notif__actions__btn--pri:hover {
  background-color: #9fa4ae;
  color: #222c3a;
}

.notif--trophy::before {
  background-color: #ffdd6b;
}

.notif--trophy .notif__actions__btn--pri {
  border-color: #9fa4ae;
}

.notif--trophy .notif__actions__btn--pri:hover {
  background-color: #9fa4ae;
  color: #222c3a;
}

.notif--recommend::before {
  background-color: #00bf71;
}

.notif--recommend .notif__actions__btn--pri {
  border-color: #9fa4ae;
}

.notif--recommend .notif__actions__btn--pri:hover {
  background-color: #9fa4ae;
  color: #222c3a;
}

#searchform {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 80%;
  max-width: 1000px;
  left: 50%;
  transform: translateX(-50%);
}

input {
  display: inline-block;
  border: none;
}

.active-search #searchbar {
  border-bottom-left-radius: 0px;
}

.active-search #search-submit {
  border-bottom-right-radius: 0px;
}

#searchbar {
  -webkit-appearance: none;
  width: 90%;
  position: relative;
  height: 45px;
  padding-left: 20px;
  padding-right: 45px;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  border-radius: 12px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: #222c3a;
  color: #9fa4ae;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

#searchbar:focus {
  outline: none;
}

#searchbar::-webkit-search-cancel-button {
  content: "";
  position: absolute;
  top: 14px;
  right: 15px;
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background-image: url("/img/btn/search-cancel.png");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

#searchbar::-webkit-input-placeholder {
  color: #334256;
}

#searchbar::-moz-input-placeholder {
  color: #334256;
}

#searchbar::-ms-input-placeholder {
  color: #334256;
}

#searchbar::-o-input-placeholder {
  color: #334256;
}

.submit-button {
  position: relative;
  display: inline-block;
  width: 10%;
  min-width: 45px;
  height: 45px;
  right: 3px;
}

#search-submit {
  -webkit-appearance: none;
  border-radius: 12px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  width: 100%;
  height: inherit;
  padding: 0px;
  position: relative;
  background: #138fdf;
  color: #138fdf;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

.submit-button:hover #search-submit, #search-submit:focus {
  outline: none;
  background: #488eff;
}

.submitIcon {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 10px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: 0.1s ease;
  -moz-transition: 0.1s ease;
  -ms-transition: 0.1s ease;
  -o-transition: 0.1s ease;
  transition: 0.1s ease;
}

.search-bottom {
  position: relative;
  width: 100%;
  overflow: hidden;
  background: #222c3a;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding-left: 0px;
  margin-top: 0px;
}

.search-bottom--no-search .search-item {
  border-top-width: 0px !important;
  height: 0px !important;
}

.search-bottom .search-item {
  position: relative;
  width: 100%;
  display: block;
  height: 50px;
  border-top: 2px solid #1a2431;
  font-family: "Nunito", sans-serif;
  color: #576777;
  font-size: 15px;
  line-height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-transition: 0.1s ease;
  -moz-transition: 0.1s ease;
  -ms-transition: 0.1s ease;
  -o-transition: 0.1s ease;
  transition: 0.1s ease;
}

.search-bottom .search-item--searchall {
  height: 36px;
  line-height: 36px;
  font-weight: 600;
  color: #384b60;
}

.search-bottom .search-item--searchall span {
  font-weight: 700;
  color: #576777;
}

.search-bottom .search-item--show .search-item--img, .search-bottom .search-item--movie .search-item--img, .search-bottom .search-item--user .search-item--img {
  position: relative;
  top: 7px;
  display: inline-block;
  height: 36px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}

.search-bottom .search-item--show .search-item--title, .search-bottom .search-item--movie .search-item--title, .search-bottom .search-item--user .search-item--title {
  margin-left: 8px;
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.search-bottom .search-item--show .search-item--img {
  width: 36px;
  background-image: url("/img/defaults/show.png");
}

.search-bottom .search-item--user .search-item--img {
  width: 36px;
  background-image: url("/img/defaults/profile.png");
  border-radius: 50%;
}

.search-bottom .search-item--movie {
  height: 59px;
  line-height: 59px;
}

.search-bottom .search-item--movie .search-item--img {
  background-image: url("/img/defaults/movie.png");
  width: 30px;
  height: 45px;
  top: 7px;
  margin-left: 3px;
  margin-right: 3px;
}

@media (max-width: 1280px) {
  .nav-link {
    margin-left: 15px;
    margin-right: 15px;
  }
  .middle .nav-link {
    margin-left: 30px;
    margin-right: 30px;
  }
  nav#primary .middle {
    display: none;
  }
  nav#secondary {
    display: block;
    white-space: nowrap;
  }
  .middle {
    position: relative;
    top: 0px;
    left: 0px;
    transform: none;
    overflow-x: scroll;
  }
  .middle .nav-link:last-child {
    padding-right: 50px;
  }
  .middle .nav-link:first-child {
    padding-left: 20px;
  }
  .middle::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    height: 0px;
    background: transparent;
    /* optional: just make scrollbar invisible */
  }
  .nav-button::before {
    width: calc(100% + 20px);
    height: 0px;
    bottom: 0px;
  }
}

@media (max-width: 825px) {
  .middle {
    left: 0px;
  }
}

@media (max-width: 750px) {
  #actions-bar--profile {
    width: 100%;
  }
  #actions-bar--profile .nav-link {
    padding: 0px;
    margin: 0px;
    width: 25%;
  }
  #actions-bar--profile .nav-link .nav-button {
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  #actions-bar--profile .nav-link .svgIcon {
    width: 22px;
    height: 22px;
    margin: 0 auto;
  }
  #actions-bar--profile .nav-link .nav-title {
    margin: 0px;
    position: relative;
    font-size: 13px;
    display: none;
  }
  #actions-bar--profile .nav-link:nth-child(n + 2) {
    position: relative;
    left: -5px;
  }
  #actions-bar--profile .nav-link:nth-child(n + 3) {
    position: relative;
    left: -8px;
  }
  #actions-bar--profile .nav-link:nth-child(n + 4) {
    position: relative;
    left: -12px;
  }
  #actions-bar--profile .nav-link:first-child, #actions-bar--profile .nav-link:last-child {
    margin: 0px;
    padding-right: 0px;
  }
  #actions-bar--profile #nav-logout .nav-title {
    margin: 0 auto;
    font-size: 16px;
    display: block;
  }
  .middle .nav-link {
    padding: 0px;
    margin: 0px;
    width: 25%;
  }
  .middle .nav-link .nav-button {
    width: 100%;
  }
  .middle .nav-link .nav-button::before {
    width: 100%;
    left: 0px;
  }
  .middle .nav-link .svgIcon {
    position: relative;
    margin: 0 auto;
  }
  .middle .nav-link .nav-title {
    position: relative;
    font-size: 13px;
    display: none;
  }
  .middle .nav-link:last-child {
    padding-right: 0px;
  }
  .middle .nav-link:first-child {
    padding-left: 0px;
  }
}

@media (max-width: 560px) {
  #searchbar {
    width: calc(100% - 45px);
  }
  .submitIcon {
    width: 23px;
    height: 23px;
    top: 11px;
  }
}

@media (max-width: 525px) {
  .home {
    margin-left: 30px;
  }
  .actions {
    margin-right: 30px;
  }
  .notif {
    margin-left: 20px;
  }
  .notif:first-child {
    margin-right: 30px;
  }
  .notif:last-child {
    margin-left: 30px;
  }
  .notif-action {
    margin-left: 25px;
  }
  .notif-action:first-child {
    margin-right: 30px;
  }
}

@media (max-width: 450px) {
  .notif__info__desc {
    width: 75%;
  }
}

@media (max-width: 425px) {
  #logotype {
    font-size: 30px;
    margin-left: 10px;
  }
  .home {
    top: 0px;
    margin-left: 20px;
  }
  .actions {
    top: 0px;
    margin-right: 20px;
  }
  .notif-action:first-child {
    margin-right: 20px;
  }
  .notif:first-child {
    margin-right: 20px;
  }
  .notif:last-child {
    margin-left: 20px;
  }
  nav {
    height: 60px;
  }
  nav#secondary {
    height: 50px;
  }
  #nav-sec {
    top: 60px;
  }
  nav#secondary .svgIcon {
    width: 22px;
    height: 22px;
  }
  .middle {
    top: -5px;
  }
  .middle .nav-link {
    height: 55px;
  }
  .middle .nav-button::before {
    bottom: 5px;
  }
  .middle .nav-button:hover::before {
    height: 3px;
  }
  #profile-menu {
    top: 60px;
  }
}

@media (max-width: 375px) {
  #nav-search .svgIcon, #nav-notif .svgIcon {
    width: 23px;
    height: 23px;
  }
  .nav-link {
    margin-left: 10px;
    margin-right: 10px;
  }
  #logotype {
    font-size: 25px;
  }
  #logo {
    width: 30px;
    height: 30px;
  }
  .notif__info__desc {
    width: 70%;
  }
  #actions-bar--profile #nav-logout .nav-title {
    font-size: 14px;
  }
}
