.profile-section--hidden {
  opacity: 0;
  transform: translateY(20px);
}

.profile-section--invis {
  display: none;
}

.profile-section {
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}

.media-sel {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #1a2431;
  position: relative;
  -webkit-transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -ms-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  transition: 0.25s ease;
}

.media-sel::before {
  content: "";
  position: absolute;
  border-bottom: 2px solid #1a2431;
  width: calc(50vw - 750px);
  height: 10px;
  left: 0px;
  bottom: -2px;
  transform: translateX(-100%);
}

.media-sel::after {
  content: "";
  position: absolute;
  border-bottom: 2px solid #1a2431;
  width: calc(50vw - 750px);
  height: 10px;
  right: 0px;
  bottom: -2px;
  transform: translateX(100%);
}

.media-sel-cont {
  padding-left: 0px;
  width: 100%;
  white-space: nowrap;
  overflow-x: scroll;
}

.media-sel-cont::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
  height: 0px;
  background: transparent;
  /* optional: just make scrollbar invisible */
}

.media-sel-item {
  margin-right: 30px;
  height: 50px;
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.media-sel-item-title {
  color: #334256;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  margin: 0px;
  text-align: center;
  -webkit-transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -ms-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  transition: 0.25s ease;
  position: relative;
}

.media-sel-item:active .media-sel-item-title, .media-sel-item:hover .media-sel-item-title, .media-sel-item:focus .media-sel-item-title {
  color: #c7ccd6;
}

.media-sel-item:first-child {
  margin-left: 50px;
}

.media-sel-item--selected .media-sel-item-title {
  color: #c7ccd6;
  padding-left: 10px;
  padding-right: 10px;
}

.media-sel-item--selected::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 5px;
  background: #ff4040;
}

@media (max-width: 1280px) {
  .media-sel {
    height: 43px;
  }
  .media-sel-item {
    height: 43px;
    margin-right: 20px;
  }
  .media-sel-item-title {
    font-size: 25px;
  }
}

@media (max-width: 525px) {
  .media-sel-item {
    margin-right: 15px;
  }
  .media-sel-item:first-child {
    margin-left: 30px;
  }
}

@media (max-width: 425px) {
  .media-sel {
    height: 40px;
  }
  .media-sel-item {
    height: 40px;
  }
  .media-sel-item-title {
    font-size: 25px;
  }
  .media-sel-item--selected::after {
    bottom: 0px;
    height: 4px;
  }
}

@media (max-width: 375px) {
  .media-sel {
    height: 33px;
  }
  .media-sel-cont {
    margin-top: 0px;
  }
  .media-sel-item {
    height: 33px;
  }
  .media-sel-item--selected::after {
    height: 4px;
  }
  .media-sel-item--selected .media-sel-item-title {
    padding-left: 6px;
    padding-right: 6px;
  }
  .media-sel-item-title {
    font-size: 20px;
  }
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, calc(-50% + 50px)) scale(1);
  width: 95vw;
  max-width: 800px;
  background: #222c3a;
  z-index: 50;
  border-radius: 20px;
  text-align: center;
  -webkit-transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -ms-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  transition: 0.25s ease;
}

.modal--hidden {
  transform: translate(-50%, calc(-50% + 50px)) scale(0);
}

.modal-remove--show .modal-img {
  background-image: url("/img/illus/remove-show.png");
}

.modal-remove--friend .modal-img {
  background-image: url("/img/illus/remove-friend.png");
}

.modal-close {
  width: 25px;
  height: 25px;
  position: absolute;
  background: url("/img/btn/close.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

.modal-img {
  position: absolute;
  width: 200px;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  left: 50%;
  transform: translateX(-50%);
  top: -100px;
}

.modal-header {
  color: #c7ccd6;
  position: relative;
  margin-top: 115px;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 34px;
}

.modal-body {
  padding-left: 30px;
  padding-right: 30px;
  color: #576777;
  font-family: "Nunito", sans-serif;
  margin-top: 8px;
  font-size: 20px;
  line-height: 22px;
  font-weight: 400;
}

.modal-body--main {
  color: #9fa4ae;
  font-weight: 600;
}

.modal-btns {
  margin-top: 25px;
  margin-bottom: 20px;
}

.modal-btns .modal-btn {
  border-radius: 5px;
  width: 130px;
  height: 50px;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 50px;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -ms-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  transition: 0.25s ease;
}

.modal-btns .modal-btn-primary {
  color: #fff;
  border: 3px solid #138fdf;
  background: #138fdf;
}

.modal-btns .modal-btn-secondary {
  color: #9fa4ae;
  border: 3px solid #9fa4ae;
  margin-right: 10px;
}

.modal-btns .modal-btn-secondary:hover {
  background: #9fa4ae;
  color: #222c3a;
}

.dark-cover {
  background: black;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 30;
  opacity: 0.5;
}

.dark-cover--hidden {
  display: none;
}

body {
  background: #0f1923;
  position: relative;
  width: 100vw;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.overlay {
  overflow-y: scroll;
  position: fixed;
  width: 100%;
  height: calc(100vh - 60px);
  bottom: 0px;
  background: #222c3a;
  opacity: 1;
  z-index: 5;
  transition: all 0.5s ease, height 0.01s;
}

.overlay--hidden {
  transform: translateX(100%);
  opacity: 0;
}

.overlay--end .overlay-header {
  display: none;
}

.overlay--process::before {
  height: 165px !important;
}

.overlay--process .overlay-content .overlay-container {
  margin-top: 115px !important;
  padding-top: 105px !important;
}

.overlay--process .overlay-content .overlay-container .overlay-img {
  width: 180px;
  height: 180px;
  top: -90px;
}

.overlay--process .overlay-content .overlay-container .overlay-header {
  display: none;
}

.overlay::before {
  content: '';
  position: absolute;
  background: #0f1923;
  top: 0px;
  width: 100%;
  height: 200px;
  z-index: 1;
  -webkit-transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -ms-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  transition: 0.25s ease;
}

.overlay-back {
  overflow: hidden;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 60px;
  background: #384b60;
  z-index: 3;
  -webkit-transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -ms-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  transition: 0.25s ease;
}

.overlay-back--hidden {
  height: 0px;
}

.overlay-back-btn {
  display: inline-flex;
  align-items: center;
  position: relative;
  margin-left: calc(50vw - 700px);
  height: 26px;
  margin-top: 16px;
  cursor: pointer;
}

.overlay-back-btn-arrow {
  display: inline-block;
  width: 26px;
  height: 26px;
  background: url("/img/btn/back.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 15px;
}

.overlay-back-btn-type {
  position: relative;
  top: 1px;
  color: #1a2431;
  display: inline-block;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  -webkit-transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -ms-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  transition: 0.25s ease;
}

.overlay-content {
  position: relative;
  padding-top: 50px;
  margin: 0 auto;
  width: 100%;
  max-width: 1500px;
  z-index: 2;
  opacity: 1;
}

.overlay-content-page {
  -webkit-transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -ms-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  transition: 0.25s ease;
}

.overlay-content-page--hidden {
  opacity: 0;
}

.overlay-content-page--hidden_left {
  transform: translateX(-10px);
}

.overlay-content-page--hidden_right {
  transform: translateX(10px);
}

.overlay-content-page--invis {
  display: none;
}

.overlay-content .overlay-container {
  position: relative;
  width: 100%;
  margin: 150px auto 0;
  background: #222c3a;
  padding-top: 145px;
  padding-bottom: 50px;
  -webkit-transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -ms-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  transition: 0.25s ease;
}

.overlay-content .overlay-container-back {
  position: absolute;
  top: 20px;
  margin-left: 30px;
  width: 25px;
  height: 25px;
  background: url("/img/btn/back-dark.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -ms-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  transition: 0.25s ease;
}

.overlay-content .overlay-container-back--hidden {
  transform: translateX(-55px);
  opacity: 0;
}

.overlay-img {
  position: absolute;
  top: -125px;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: all 0.25s cubic-bezier(0, 0.63, 0.5, 2), background 0.25s ease;
  -moz-transition: all 0.25s cubic-bezier(0, 0.63, 0.5, 2), background 0.25s ease;
  -ms-transition: all 0.25s cubic-bezier(0, 0.63, 0.5, 2), background 0.25s ease;
  -o-transition: all 0.25s cubic-bezier(0, 0.63, 0.5, 2), background 0.25s ease;
  transition: all 0.25s cubic-bezier(0, 0.63, 0.5, 2), background 0.25s ease;
}

.overlay-header {
  position: relative;
  text-align: center;
  color: #c7ccd6;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 80px;
  line-height: 80px;
  margin-bottom: 7px;
}

.overlay-subheader {
  position: relative;
  text-align: center;
  color: #c7ccd6;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 7px;
}

.overlay-caption {
  text-align: center;
  color: #576777;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 5px;
}

.overlay-caption--main {
  font-family: "Montserrat", sans-serif;
  color: #9fa4ae;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 15px;
}

.overlay-caption--sub {
  color: #384b60;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 30px;
}

.overlay-btn {
  margin: 15px auto 0;
  width: 80%;
  max-width: 400px;
  height: 44px;
  border: 3px solid #9fa4ae;
  border-radius: 5px;
  text-align: center;
  line-height: 44px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #9fa4ae;
  cursor: pointer;
}

.overlay-btn--primary {
  color: #fff;
  border-color: #138fdf;
  background: #138fdf;
}

.overlay-btn--primary--disabled {
  cursor: not-allowed;
  color: #222c3a;
  border-color: #576777;
  background: #576777;
}

.overlay--spacing {
  height: 10px;
}

#overlay--challenge .overlay-back {
  background: #ffdd6b;
}

#overlay--challenge .overlay-back::before {
  background: #ffdd6b;
}

#overlay--challenge .overlay-back::after {
  background: #ffdd6b;
}

#overlay--challenge .overlay-img {
  background-image: url("/img/illus/challenge.png");
}

#overlay--challenge .overlay-header {
  color: #ffdd6b;
}

#overlay--challenge .opponent-list {
  margin-top: 20px;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#overlay--challenge .opponent-list .opponent-item {
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-image: url("/img/defaults/add.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 5px;
  margin-right: 5px;
  -webkit-transition: all 0.25s cubic-bezier(0, 0.63, 0.5, 2), background 0.25s ease;
  -moz-transition: all 0.25s cubic-bezier(0, 0.63, 0.5, 2), background 0.25s ease;
  -ms-transition: all 0.25s cubic-bezier(0, 0.63, 0.5, 2), background 0.25s ease;
  -o-transition: all 0.25s cubic-bezier(0, 0.63, 0.5, 2), background 0.25s ease;
  transition: all 0.25s cubic-bezier(0, 0.63, 0.5, 2), background 0.25s ease;
}

#overlay--challenge .opponent-list .opponent-item--disabled {
  transform: scale(0.8);
  opacity: 0.7;
}

#overlay--challenge .searchbox {
  margin-top: 20px;
  margin-bottom: 25px;
  position: relative;
  width: 90%;
  max-width: 600px;
  left: 50%;
  transform: translateX(-50%);
}

#overlay--challenge .searchbox--large .searchbox--bottom {
  height: 400px;
}

#overlay--challenge .searchbox--top {
  width: 100%;
  height: 50px;
}

#overlay--challenge .searchbox--top::before {
  content: '';
  position: absolute;
  width: 36px;
  height: 36px;
  background-image: url("/img/btn/search.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  left: 13px;
  top: 7px;
  z-index: 1;
}

#overlay--challenge .searchbox--top .searchbox--bar {
  -webkit-appearance: none;
  position: relative;
  width: 100%;
  height: 100%;
  padding-left: 60px;
  padding-right: 50px;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 600;
  border-radius: 12px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: #1a2431;
  color: #9fa4ae;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

#overlay--challenge .searchbox--top .searchbox--bar:focus {
  outline: none;
}

#overlay--challenge .searchbox--top .searchbox--bar::-webkit-search-cancel-button {
  content: "";
  position: absolute;
  top: 17px;
  right: 20px;
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background-image: url("/img/btn/search-cancel.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

#overlay--challenge .searchbox--top .searchbox--bar::-webkit-input-placeholder {
  color: #334256;
}

#overlay--challenge .searchbox--top .searchbox--bar::-moz-input-placeholder {
  color: #334256;
}

#overlay--challenge .searchbox--top .searchbox--bar::-ms-input-placeholder {
  color: #334256;
}

#overlay--challenge .searchbox--top .searchbox--bar::-o-input-placeholder {
  color: #334256;
}

#overlay--challenge .searchbox--bottom {
  height: 300px;
  background: #1a2431;
  border-top: 3px solid #222c3a;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow-y: scroll;
}

#overlay--challenge .searchbox--bottom .searchbox-list {
  position: relative;
  margin: 20px auto 0;
  width: 90%;
}

#overlay--challenge .searchbox--bottom .searchbox-list .searchbox-caption {
  overflow: visible;
  text-align: center;
  color: #384b60;
  font-size: 20px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  margin-top: 50px;
}

#overlay--challenge .searchbox--bottom .searchbox-list .searchbox-item {
  display: block;
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  height: 90px;
  background: #222c3a;
  border-radius: 15px;
}

#overlay--challenge .searchbox--bottom .searchbox-list .searchbox-item--added .searchbox-item--button::before {
  top: -90px;
}

#overlay--challenge .searchbox--bottom .searchbox-list .searchbox-item--added .searchbox-item--button::after {
  top: 10px;
}

#overlay--challenge .searchbox--bottom .searchbox-list .searchbox-item--disabled .searchbox-item--button {
  cursor: not-allowed;
}

#overlay--challenge .searchbox--bottom .searchbox-list .searchbox-item--disabled .searchbox-item--button::before {
  background-image: url("/img/btn/challenge-item-disabled.png");
}

#overlay--challenge .searchbox--bottom .searchbox-list .searchbox-item--user .searchbox-item--cover {
  border-radius: 50%;
  background-image: url("/img/defaults/profile.png");
}

#overlay--challenge .searchbox--bottom .searchbox-list .searchbox-item--show .searchbox-item--cover {
  border-radius: 10px;
  background-image: url("/img/defaults/show.png");
}

#overlay--challenge .searchbox--bottom .searchbox-list .searchbox-item--cover {
  display: inline-block;
  position: absolute;
  height: 70px;
  width: 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 10px;
  margin-left: 20px;
}

#overlay--challenge .searchbox--bottom .searchbox-list .searchbox-item--title {
  position: relative;
  display: inline-block;
  margin-top: 15px;
  margin-left: 110px;
  width: calc(100% - 210px);
  color: #c7ccd6;
  font-size: 18px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  line-height: 22px;
  max-height: 44px;
  overflow: hidden;
}

#overlay--challenge .searchbox--bottom .searchbox-list .searchbox-item--caption {
  display: block;
  margin-left: 110px;
  width: calc(100% - 210px);
  color: #384b60;
  font-size: 15px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  line-height: 15px;
  max-height: 15px;
  overflow: hidden;
}

#overlay--challenge .searchbox--bottom .searchbox-list .searchbox-item--button {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 90px;
  height: 90px;
  overflow: hidden;
  border-left: 3px solid #1a2431;
  cursor: pointer;
}

#overlay--challenge .searchbox--bottom .searchbox-list .searchbox-item--button::before {
  content: '';
  position: absolute;
  width: 70px;
  height: 70px;
  top: 10px;
  left: 10px;
  background-image: url("/img/btn/challenge-item-sword.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -ms-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  transition: 0.25s ease;
}

#overlay--challenge .searchbox--bottom .searchbox-list .searchbox-item--button::after {
  content: '';
  position: absolute;
  width: 70px;
  height: 70px;
  top: 110px;
  left: 10px;
  background-image: url("/img/btn/challenge-item-check.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -ms-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  transition: 0.25s ease;
}

#overlay--challenge .challenge-review-list {
  margin: 20px auto 40px;
  width: 90%;
  max-width: 600px;
}

#overlay--challenge .challenge-review-list .challenge-review-header {
  line-height: 22px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #ffdd6b;
  margin-bottom: 10px;
}

#overlay--challenge .challenge-review-list .challenge-review-item {
  display: block;
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  height: 90px;
  background: #1a2431;
  border-radius: 15px;
}

#overlay--challenge .challenge-review-list .challenge-review-item--user .challenge-review-item--cover {
  border-radius: 50%;
  background-image: url("/img/defaults/profile.png");
}

#overlay--challenge .challenge-review-list .challenge-review-item--show .challenge-review-item--cover {
  border-radius: 10px;
  background-image: url("/img/defaults/show.png");
}

#overlay--challenge .challenge-review-list .challenge-review-item--cover {
  display: inline-block;
  position: absolute;
  height: 70px;
  width: 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 10px;
  margin-left: 20px;
}

#overlay--challenge .challenge-review-list .challenge-review-item--title {
  position: relative;
  display: inline-block;
  margin-top: 15px;
  margin-left: 110px;
  width: calc(100% - 140px);
  color: #c7ccd6;
  font-size: 18px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  line-height: 22px;
  max-height: 44px;
  overflow: hidden;
}

#overlay--challenge .challenge-review-list .challenge-review-item--caption {
  display: block;
  margin-left: 110px;
  width: calc(100% - 210px);
  color: #384b60;
  font-size: 15px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  line-height: 15px;
  max-height: 15px;
  overflow: hidden;
}

@media (max-width: 1500px) {
  .overlay-back-btn {
    margin-left: 50px;
  }
  .overlay-content .overlay-container {
    border-radius: 0px;
  }
}

@media (max-width: 1280px) {
  .overlay {
    height: calc(100vh - 125px);
  }
}

@media (max-width: 670px) {
  .overlay-header {
    font-size: 70px;
    line-height: 70px;
  }
}

@media (max-width: 525px) {
  .overlay-back-btn {
    margin-left: 30px;
  }
  .overlay .overlay-content .overlay-container {
    margin: 125px auto 0;
    background: #222c3a;
    padding-top: 120px;
  }
  .overlay-img {
    top: -100px;
    width: 200px;
    height: 200px;
  }
  .overlay-header {
    font-size: 55px;
    line-height: 55px;
  }
  .overlay-subheader {
    font-size: 40px;
    line-height: 40px;
  }
  .overlay-caption {
    font-size: 16px;
  }
  .overlay-caption--main {
    font-size: 20px;
    line-height: 24px;
  }
  .overlay-caption--sub {
    font-size: 14px;
  }
}

@media (max-width: 425px) {
  .overlay {
    height: calc(100vh - 110px);
  }
  .overlay-back-btn {
    margin-left: 20px;
  }
  .overlay .overlay-container-back {
    margin-left: 20px;
  }
  .overlay-header {
    font-size: 45px;
    line-height: 45px;
  }
  #overlay--challenge .searchbox--bottom .searchbox-list .searchbox-item--added .searchbox-item--button::before {
    top: -110px;
  }
  #overlay--challenge .searchbox--bottom .searchbox-list .searchbox-item--added .searchbox-item--button::after {
    top: 20px;
  }
  #overlay--challenge .searchbox--bottom .searchbox-list .searchbox-item--cover {
    height: 50px;
    width: 50px;
    margin-top: 20px;
    margin-left: 15px;
  }
  #overlay--challenge .searchbox--bottom .searchbox-list .searchbox-item--title {
    margin-top: 18px;
    margin-left: 80px;
    width: calc(100% - 170px);
    font-size: 17px;
    line-height: 20px;
    max-height: 40px;
  }
  #overlay--challenge .searchbox--bottom .searchbox-list .searchbox-item--caption {
    margin-left: 80px;
    width: calc(100% - 170px);
    font-size: 13px;
    line-height: 13px;
  }
  #overlay--challenge .searchbox--bottom .searchbox-list .searchbox-item--button {
    width: 70px;
    height: 90px;
  }
  #overlay--challenge .searchbox--bottom .searchbox-list .searchbox-item--button::before {
    width: 50px;
    height: 50px;
    top: 20px;
  }
  #overlay--challenge .searchbox--bottom .searchbox-list .searchbox-item--button::after {
    width: 50px;
    height: 50px;
    top: 110px;
  }
  #overlay--challenge .challenge-review-list .challenge-review-item--cover {
    height: 50px;
    width: 50px;
    margin-top: 20px;
    margin-left: 15px;
  }
  #overlay--challenge .challenge-review-list .challenge-review-item--title {
    margin-top: 16px;
    margin-left: 80px;
    width: calc(100% - 170px);
    font-size: 17px;
    line-height: 20px;
    max-height: 40px;
  }
  #overlay--challenge .challenge-review-list .challenge-review-item--caption {
    margin-left: 80px;
    width: calc(100% - 170px);
    font-size: 13px;
    line-height: 13px;
  }
}

@media (max-width: 350px) {
  .overlay-header {
    font-size: 40px;
    line-height: 40px;
  }
}

.content {
  width: 100%;
  max-width: 1500px;
  position: relative;
  margin: 0 auto;
  margin-top: 65px;
  z-index: 1;
  flex: 1;
}

h1 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  padding: 0;
}

h2 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  margin-top: 4px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

h3 {
  color: #fff;
  font-family: "Nunito", sans-serif;
  margin-top: 4px;
  font-size: 22px;
  line-height: 22px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

h4 {
  color: #9fa4ae;
  font-family: "Nunito", sans-serif;
  margin-top: 4px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
  margin-top: 10px;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.see-all {
  white-space: normal;
  overflow: visible;
}

.empty {
  margin-top: 20px;
  position: relative;
  width: 100%;
}

.empty--image {
  position: relative;
  width: 100%;
  height: 300px;
  background-image: url("/img/defaults/empty.png");
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  border-bottom: 3px solid #1a2431;
}

.empty--caption {
  color: #222c3a;
  text-align: center;
  font-family: "Nunito", sans-serif;
  margin-top: 25px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

.empty--action {
  margin-top: 3px;
  margin-bottom: 10px;
  text-align: center;
  cursor: pointer;
}

.empty--action--caption {
  display: inline-block;
  color: #334256;
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  margin-right: 3px;
}

.empty--action--arrow {
  display: inline-block;
  height: 12px;
  width: 20px;
  background-image: url("/img/arrow-left.png");
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.hero {
  position: relative;
  width: 100vw;
  left: calc(750px - 50vw);
  height: 400px;
  background: url("/img/defaults/hero.png");
  background-position: center;
  background-size: cover;
}

.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #1a2431;
  bottom: 0;
  opacity: .2;
}

.hero .profile-header {
  position: absolute;
  left: calc(50vw - 700px);
  bottom: -85px;
}

.hero .profile-header-img {
  position: relative;
  left: -10px;
  width: 150px;
  height: 150px;
  background-image: url("/img/defaults/profile.png");
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  display: inline-block;
  vertical-align: bottom;
  border: 10px solid #0f1923;
}

.section {
  position: relative;
  padding-top: 20px;
  padding-left: 50px;
  padding-bottom: 20px;
  border-bottom: 2px solid #1a2431;
}

.section:last-child, .section:last-child::before, .section:last-child::after {
  border-width: 0px;
}

.section::before {
  content: "";
  position: absolute;
  width: calc(50vw - 750px);
  height: 10px;
  left: 0;
  bottom: -2px;
  transform: translateX(-100%);
  border-bottom: 2px solid #1a2431;
}

.section::after {
  content: "";
  position: absolute;
  width: calc(50vw - 750px);
  height: 10px;
  right: 0;
  bottom: -2px;
  transform: translateX(100%);
  border-bottom: 2px solid #1a2431;
}

.section .section-header {
  position: relative;
  padding-right: 20px;
}

.section .section-header-type {
  display: inline-block;
}

.section .section-header-type--sub {
  margin-left: 5px;
  display: inline-block;
  font-size: 20px;
  line-height: 20px;
  color: #9fa4ae;
}

.section .section-header-type--sub span {
  margin-left: 3px;
  margin-right: 3px;
}

.section .section-header-seeall {
  position: relative;
  bottom: -7px;
  display: inline-block;
  float: right;
  color: #334256;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  margin-right: 16px;
  cursor: pointer;
  -webkit-transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -ms-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  transition: 0.25s ease;
}

.section .section-header-seeall--small {
  bottom: -1px;
}

.section .section-header-seeall::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-top: 2px solid #334256;
  border-right: 2px solid #334256;
  right: -4px;
  bottom: 4px;
  transform: translateX(100%) rotate(45deg);
  -webkit-transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -ms-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  transition: 0.25s ease;
}

.section .section-header-seeall.section-header-seeall-open {
  color: #576777;
}

.section .section-header-seeall.section-header-seeall-open:before {
  border-color: #576777;
  right: -10px;
  bottom: 6px;
  transform: translateX(100%) rotate(135deg);
}

.section .section-header-seeall.section-header-seeall-open:hover:before, .section .section-header-seeall.section-header-seeall-open:focus:before, .section .section-header-seeall.section-header-seeall-open:active:before {
  right: -10px;
}

.section .section-header-seeall:hover, .section .section-header-seeall:focus, .section .section-header-seeall:active {
  color: #576777;
}

.section .section-header-seeall:hover:before, .section .section-header-seeall:focus:before, .section .section-header-seeall:active:before {
  border-color: #576777;
  right: -6px;
}

.header {
  margin-top: 75px;
}

.header-info {
  display: block;
  margin-bottom: 15px;
}

.header-info-name {
  display: inline-block;
  margin-right: 15px;
  line-height: 50px;
}

.header-info-rank {
  display: inline-flex;
  align-items: center;
  margin-bottom: 5px;
  padding-right: 30px;
}

.header-info-rank-img {
  width: 30px;
  height: 30px;
  background: url("/img/rank.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 5px;
}

.header-info-rank-type {
  color: #334256;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 16px;
}

.header-desc {
  color: #9fa4ae;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 20px;
  max-width: 1000px;
  padding-right: 30px;
}

.profile-actions-list {
  margin-top: 10px;
  margin-right: 30px;
  float: right;
}

.profile-actions-list .profile-actions-item {
  display: inline-block;
  position: relative;
  color: #9fa4ae;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  padding: 8px;
  padding-left: 40px;
  padding-right: 10px;
  border: 2px solid #9fa4ae;
  border-radius: 7px;
  margin-left: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: 0.1s ease;
  -moz-transition: 0.1s ease;
  -ms-transition: 0.1s ease;
  -o-transition: 0.1s ease;
  transition: 0.1s ease;
  cursor: pointer;
}

.profile-actions-list .profile-actions-item::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  left: 7px;
  top: 0px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: 0.1s ease;
  -moz-transition: 0.1s ease;
  -ms-transition: 0.1s ease;
  -o-transition: 0.1s ease;
  transition: 0.1s ease;
}

.profile-actions-list .profile-actions-item--icononly {
  font-size: 0px;
  top: -5px;
  padding-right: 0px;
}

.profile-actions-list .profile-actions-item--icononly::before {
  left: 5px;
}

.profile-actions-list .profile-actions-item--textonly {
  padding-left: 12px;
}

.profile-actions-list .profile-actions-item--textonly::before {
  width: 0px;
  height: 0px;
}

.profile-actions-list .profile-actions-item--challenge {
  color: #ffdd6b;
  border-color: #ffdd6b;
}

.profile-actions-list .profile-actions-item--challenge::before {
  background-image: url("/img/btn/challenge.png");
}

.profile-actions-list .profile-actions-item--challenge:hover, .profile-actions-list .profile-actions-item--challenge:focus, .profile-actions-list .profile-actions-item--challenge:active {
  color: #0f1923;
  background: #ffdd6b;
}

.profile-actions-list .profile-actions-item--challenge:hover::before, .profile-actions-list .profile-actions-item--challenge:focus::before, .profile-actions-list .profile-actions-item--challenge:active::before {
  background-image: url("/img/btn/challenge-hover.png");
}

.profile-actions-list .profile-actions-item--recommend {
  color: #00bf71;
  border-color: #00bf71;
}

.profile-actions-list .profile-actions-item--recommend::before {
  background-image: url("/img/btn/recommend.png");
}

.profile-actions-list .profile-actions-item--recommend:hover, .profile-actions-list .profile-actions-item--recommend:focus, .profile-actions-list .profile-actions-item--recommend:active {
  color: #0f1923;
  background: #00bf71;
}

.profile-actions-list .profile-actions-item--recommend:hover::before, .profile-actions-list .profile-actions-item--recommend:focus::before, .profile-actions-list .profile-actions-item--recommend:active::before {
  background-image: url("/img/btn/recommend-hover.png");
}

.profile-actions-list .profile-actions-item--friends {
  color: #138fdf;
  border-color: #138fdf;
}

.profile-actions-list .profile-actions-item--friends::before {
  background-image: url("/img/btn/friends.png");
}

.profile-actions-list .profile-actions-item--friends:hover, .profile-actions-list .profile-actions-item--friends:focus, .profile-actions-list .profile-actions-item--friends:active {
  color: #fff;
  background: #138fdf;
}

.profile-actions-list .profile-actions-item--friends:hover::before, .profile-actions-list .profile-actions-item--friends:focus::before, .profile-actions-list .profile-actions-item--friends:active::before {
  background-image: url("/img/btn/friends-hover.png");
}

.profile-actions-list .profile-actions-item--addfriend {
  color: #ff4040;
  border-color: #ff4040;
}

.profile-actions-list .profile-actions-item--addfriend::before {
  background-image: url("/img/btn/addfriend.png");
}

.profile-actions-list .profile-actions-item--addfriend:hover, .profile-actions-list .profile-actions-item--addfriend:focus, .profile-actions-list .profile-actions-item--addfriend:active {
  color: #fff;
  background: #ff4040;
}

.profile-actions-list .profile-actions-item--addfriend:hover::before, .profile-actions-list .profile-actions-item--addfriend:focus::before, .profile-actions-list .profile-actions-item--addfriend:active::before {
  background-image: url("/img/btn/addfriend-hover.png");
}

.profile-actions-list .profile-actions-item--settings::before {
  background-image: url("/img/btn/settings.png");
}

.profile-actions-list .profile-actions-item--settings:hover, .profile-actions-list .profile-actions-item--settings:focus, .profile-actions-list .profile-actions-item--settings:active {
  color: #fff;
  background: #9fa4ae;
}

.profile-actions-list .profile-actions-item--settings:hover::before, .profile-actions-list .profile-actions-item--settings:focus::before, .profile-actions-list .profile-actions-item--settings:active::before {
  background-image: url("/img/btn/settings-hover.png");
}

.experience-show, .experience-movie {
  margin-top: 10px;
  padding-left: 40px;
  position: relative;
}

.experience-show::before, .experience-movie::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: 0px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.experience-show--years, .experience-show--months, .experience-show--days, .experience-show--hours, .experience-movie--years, .experience-movie--months, .experience-movie--days, .experience-movie--hours {
  display: inline-block;
  color: #9fa4ae;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 27px;
  font-weight: 700;
}

.experience-show--years span, .experience-show--months span, .experience-show--days span, .experience-show--hours span, .experience-movie--years span, .experience-movie--months span, .experience-movie--days span, .experience-movie--hours span {
  font-weight: 400;
}

.experience-show--hidden, .experience-movie--hidden {
  display: none;
}

.experience-show {
  margin-top: 15px;
}

.experience-show::before {
  background-image: url("/img/show.png");
}

.experience-movie::before {
  background-image: url("/img/movie.png");
}

.genre-list .genre-item {
  margin-top: 15px;
  width: 125px;
  height: 125px;
  background: #1a2431;
  border-radius: 50%;
  display: inline-block;
  margin-right: 20px;
  position: relative;
  cursor: pointer;
}

.genre-list .genre-item-img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 90%;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

.genre-list .genre-item-type {
  position: absolute;
  max-width: 80%;
  bottom: 18px;
  left: 50%;
  transform: translateX(-50%);
  color: #576777;
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 600;
}

.friend-list {
  margin-bottom: 15px;
  white-space: nowrap;
  overflow-x: scroll;
}

.friend-list .friend-item {
  margin-top: 30px;
  margin-right: 30px;
  width: 160px;
  display: inline-block;
  background: #222c3a;
  border-radius: 20px;
}

.friend-list .friend-item-img {
  position: relative;
  width: 130px;
  height: 130px;
  background-image: url("/img/defaults/profile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  margin-left: 15px;
  margin-top: 15px;
}

.friend-list .friend-item-info {
  text-align: center;
}

.friend-list .friend-item-info-name {
  margin-top: 10px;
  display: block;
  color: #9fa4ae;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
}

.friend-list .friend-item-info-rank {
  margin-top: 3px;
  margin-bottom: 10px;
  display: block;
  color: #384b60;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.friend-list .friend-item-btn {
  width: 100%;
  position: relative;
  height: 40px;
  border-top: 2px solid #1a2431;
  cursor: pointer;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  -webkit-transition: 0.1s ease;
  -moz-transition: 0.1s ease;
  -ms-transition: 0.1s ease;
  -o-transition: 0.1s ease;
  transition: 0.1s ease;
}

.friend-list .friend-item-btn--text {
  display: inline-block;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 400;
  white-space: nowrap;
  vertical-align: top;
}

.friend-list .friend-item-btn--img {
  display: inline-block;
  position: relative;
  margin-right: 8px;
  width: 25px;
  height: 25px;
  top: -1px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.friend-list .friend-item-btn--you-cont, .friend-list .friend-item-btn--friends-cont, .friend-list .friend-item-btn--addfriend-cont {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.friend-list .friend-item-btn--you {
  color: #138fdf;
}

.friend-list .friend-item-btn--you .friend-item-btn--img {
  display: none;
}

.friend-list .friend-item-btn--you:hover {
  background-color: #138fdf;
  color: #fff;
}

.friend-list .friend-item-btn--friends {
  color: #00bf71;
}

.friend-list .friend-item-btn--friends .friend-item-btn--img {
  background-image: url("/img/btn/check-green.png");
}

.friend-list .friend-item-btn--friends:hover {
  background-color: #00bf71;
  color: #fff;
}

.friend-list .friend-item-btn--friends:hover .friend-item-btn--img {
  background-image: url("/img/btn/check-hover.png");
}

.friend-list .friend-item-btn--addfriend {
  color: #ff4040;
}

.friend-list .friend-item-btn--addfriend .friend-item-btn--img {
  background-image: url("/img/btn/addfriend.png");
}

.friend-list .friend-item-btn--addfriend:hover {
  background-color: #ff4040;
  color: #fff;
}

.friend-list .friend-item-btn--addfriend:hover .friend-item-btn--img {
  background-image: url("/img/btn/addfriend-hover.png");
}

.show-list {
  margin-top: 15px;
}

.show-list .show-item {
  vertical-align: top;
  display: inline-block;
  width: 200px;
  background: #222c3a;
  position: relative;
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.show-list .show-item-yours .show-item-progress--them {
  display: none;
}

.show-list .show-item-yours .show-item-progress--you {
  display: block;
  top: 165px;
}

.show-list .show-item-yours .show-item-title {
  margin-top: 15px !important;
}

.show-list .show-item::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 35px;
  right: 15px;
  bottom: 50px;
  background: linear-gradient(to left, #222c3a, rgba(34, 44, 58, 0));
}

.show-list .show-item::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 35px;
  right: 0px;
  bottom: 50px;
  background: #222c3a;
}

.show-list .show-item--added .show-item-btn--add-cont {
  height: 0px;
  border-width: 0px;
}

.show-list .show-item--added .show-item-btn--added-cont {
  height: 44px;
  border-width: 2px;
}

.show-list .show-item--added .show-item-progress--you {
  display: block;
}

.show-list .show-item--added .show-item-title {
  margin-top: 45px;
}

.show-list .show-item-cover {
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  position: relative;
  margin-top: 15px;
  margin-left: 15px;
  width: 170px;
  height: 170px;
  background: url("/img/defaults/show.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.show-list .show-item-progress {
  position: absolute;
  width: calc(100% + 20px);
  height: 20px;
  background: #334256;
  left: -10px;
  border-radius: 10px;
  overflow: hidden;
  -webkit-transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -ms-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  transition: 0.25s ease;
  z-index: 2;
}

.show-list .show-item-progress--them {
  top: 165px;
}

.show-list .show-item-progress--them.show-item-progress--finished {
  background: linear-gradient(to right, #ff8f56, #ffdd6b);
}

.show-list .show-item-progress--them.show-item-progress--finished .show-item-progress-bar {
  background: #00bf71;
}

.show-list .show-item-progress--them .show-item-progress-bar {
  background: linear-gradient(to right, #ff8f56, #ffdd6b);
}

.show-list .show-item-progress--you {
  display: none;
  top: 195px;
}

.show-list .show-item-progress--you.show-item-progress--finished {
  background: linear-gradient(to right, #138fdf, #0aa7a8);
}

.show-list .show-item-progress--you.show-item-progress--finished .show-item-progress-bar {
  background: #00bf71;
}

.show-list .show-item-progress--you .show-item-progress-bar {
  background: linear-gradient(to right, #138fdf, #0aa7a8);
}

.show-list .show-item-progress-bar {
  position: relative;
  width: 0%;
  height: 100%;
  border-radius: 10px;
  background-size: 220px;
  -webkit-transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -ms-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  transition: 0.25s ease;
}

.show-list .show-item-title {
  white-space: nowrap;
  overflow: hidden;
  width: calc(100% - 20px);
  margin-top: 15px;
  margin-left: 15px;
  color: #c7ccd6;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 18px;
  margin-bottom: 15px;
  -webkit-transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -ms-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  transition: 0.25s ease;
}

.show-list .show-item-btn {
  width: 100%;
  height: 44px;
  border-top: 2px solid #1a2431;
  color: #fff;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

.show-list .show-item-btn p {
  position: relative;
  top: 1px;
  vertical-align: top;
  line-height: 44px;
}

.show-list .show-item-btn--add-cont, .show-list .show-item-btn--added-cont {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.show-list .show-item-btn--add {
  height: 30px;
  width: 30px;
  background: url("/img/btn/add.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  display: inline-block;
  margin-right: 3px;
  top: 7px;
}

.show-list .show-item-btn--add + p {
  color: #ff4040;
}

.show-list .show-item-btn--add-cont:hover, .show-list .show-item-btn--add-cont:focus, .show-list .show-item-btn--add-cont:active {
  background: #ff4040;
}

.show-list .show-item-btn--add-cont:hover .show-item-btn--add, .show-list .show-item-btn--add-cont:focus .show-item-btn--add, .show-list .show-item-btn--add-cont:active .show-item-btn--add {
  background-image: url("/img/btn/add-hover.png");
}

.show-list .show-item-btn--add-cont:hover p, .show-list .show-item-btn--add-cont:focus p, .show-list .show-item-btn--add-cont:active p {
  color: #fff;
}

.show-list .show-item-btn--added {
  height: 30px;
  width: 30px;
  background: url("/img/btn/check.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  display: inline-block;
  margin-right: 3px;
  top: 7px;
}

.show-list .show-item-btn--added + p {
  color: #138fdf;
}

.show-list .show-item-btn--added-cont {
  height: 0px;
  border-width: 0px;
}

.show-list .show-item-btn--added-cont:hover, .show-list .show-item-btn--added-cont:focus, .show-list .show-item-btn--added-cont:active {
  background: #138fdf;
}

.show-list .show-item-btn--added-cont:hover .show-item-btn--added, .show-list .show-item-btn--added-cont:focus .show-item-btn--added, .show-list .show-item-btn--added-cont:active .show-item-btn--added {
  background-image: url("/img/btn/check-hover.png");
}

.show-list .show-item-btn--added-cont:hover p, .show-list .show-item-btn--added-cont:focus p, .show-list .show-item-btn--added-cont:active p {
  color: #fff;
}

#me {
  background-image: url("/img/profiles/me.jpg");
}

#lilia {
  background-image: url("/img/profiles/lilia.jpg");
}

#tanner {
  background-image: url("/img/profiles/tanner.png");
}

#mike {
  background-image: url("/img/profiles/mike.png");
}

#jess {
  background-image: url("/img/profiles/jess.png");
}

#eric {
  background-image: url("/img/profiles/eric.jpg");
}

#ray {
  background-image: url("/img/profiles/ray.jpg");
}

#maryann {
  background-image: url("/img/profiles/maryann.png");
}

#josh {
  background-image: url("/img/profiles/josh.png");
}

#ben {
  background-image: url("/img/profiles/ben.png");
}

#crime {
  background-image: url("/img/genres/crime.png");
}

#drama {
  background-image: url("/img/genres/drama.png");
}

#thriller {
  background-image: url("/img/genres/thriller.png");
}

#fargo {
  background-image: url("/img/shows/fargo.jpg");
}

#legion {
  background-image: url("/img/shows/legion.jpg");
}

@media (max-width: 1500px) {
  .hero {
    width: 100%;
    left: 0;
  }
  .hero .profile-header {
    left: 50px;
  }
  .empty {
    width: calc(100% - 50px);
  }
}

@media (max-width: 1280px) {
  .content {
    margin-top: 125px;
  }
  .hero {
    height: 300px;
  }
}

@media (max-width: 750px) {
  .hero {
    height: 250px;
  }
  .header-info {
    margin-bottom: 5px;
  }
  .header-info-name {
    display: block;
    font-size: 45px;
    margin-right: 0px;
    margin-bottom: 3px;
    line-height: 45px;
  }
  .header-info-rank-img {
    width: 36px;
    height: 36px;
    margin-right: 10px;
  }
  .header-info-rank-type {
    font-size: 18px;
    line-height: 18px;
  }
  .empty--image {
    height: 200px;
  }
}

@media (max-width: 525px) {
  .hero .profile-header {
    left: 30px;
    bottom: -70px;
  }
  .hero .profile-header-img {
    width: 120px;
    height: 120px;
  }
  .header {
    margin-top: 60px;
  }
  .header-info-name {
    font-size: 40px;
    line-height: 40px;
  }
  .header-info-rank-img {
    width: 30px;
    height: 30px;
    margin-right: 6px;
  }
  .header-info-rank-type {
    font-size: 18px;
    line-height: 18px;
  }
  .section {
    padding-left: 30px;
  }
  .empty {
    width: calc(100% - 30px);
  }
  .empty--image {
    height: 150px;
  }
}

@media (max-width: 425px) {
  .content {
    margin-top: 110px;
  }
  .section {
    padding-left: 20px;
  }
  .section-header-type {
    font-size: 27px;
    line-height: 27px;
  }
  .profile-actions-list {
    margin-right: 20px;
  }
  .hero .profile-header {
    bottom: -70px;
  }
  .hero .profile-header-img {
    left: -8px;
    border-width: 8px;
    width: 100px;
    height: 100px;
  }
  .header {
    margin-top: 60px;
  }
  .header-info-name {
    font-size: 35px;
    line-height: 35px;
  }
  .header-info-rank-img {
    width: 25px;
    height: 25px;
    margin-right: 6px;
  }
  .header-info-rank-type {
    font-size: 16px;
    line-height: 16px;
  }
  .empty {
    width: calc(100% - 20px);
  }
}

@media (max-width: 400px) {
  .profile-actions-list {
    margin-top: 10px;
  }
  .profile-actions-list .profile-actions-item {
    font-size: 14px;
    line-height: 14px;
    padding: 7px;
    padding-top: 8px;
    padding-left: 36px;
    padding-right: 6px;
    border-radius: 7px;
    margin-left: 3px;
    border-radius: 6px;
  }
  .profile-actions-list .profile-actions-item::before {
    width: 27px;
    height: 27px;
    left: 4px;
    top: 0px;
  }
  .profile-actions-list .profile-actions-item--icononly {
    top: -4px;
    font-size: 0px;
    padding-left: 30px;
    padding-right: 1px;
  }
  .profile-actions-list .profile-actions-item--icononly::before {
    top: 1px;
    left: 2px;
  }
  .profile-actions-list .profile-actions-item--textonly {
    padding-left: 7px;
    padding-right: 6px;
  }
  .profile-actions-list .profile-actions-item--textonly::before {
    width: 0px;
    height: 0px;
  }
}

@media (max-width: 375px) {
  .empty--caption {
    margin-top: 15px;
    font-size: 22px;
    line-height: 26px;
  }
  .empty--action--caption {
    font-size: 14px;
    line-height: 17px;
    margin-right: 2px;
  }
  .empty--action--arrow {
    height: 9px;
    width: 17px;
  }
}

@media (max-width: 350px) {
  .section-header-type {
    font-size: 21px;
    line-height: 21px;
  }
  .hero .profile-header {
    bottom: -60px;
  }
  .hero .profile-header-img {
    left: -6px;
    border-width: 6px;
    width: 84px;
    height: 84px;
  }
  .header {
    margin-top: 50px;
  }
  .header-info {
    margin-bottom: 3px;
  }
  .header-info-name {
    font-size: 27px;
    line-height: 27px;
  }
  .header-info-rank-img {
    width: 23px;
    height: 23px;
    margin-right: 6px;
  }
  .header-info-rank-type {
    font-size: 14px;
    line-height: 14px;
  }
  .header-desc {
    font-size: 14px;
    padding-right: 20px;
  }
  .profile-actions-list {
    margin-top: 12px;
  }
  .profile-actions-list .profile-actions-item {
    font-size: 12px;
    line-height: 12px;
    padding: 6px;
    padding-top: 7px;
    padding-left: 32px;
    padding-right: 6px;
    border-radius: 7px;
    margin-left: 3px;
    border-radius: 6px;
  }
  .profile-actions-list .profile-actions-item::before {
    width: 25px;
    height: 25px;
    left: 3px;
    top: -1px;
  }
  .profile-actions-list .profile-actions-item--icononly {
    top: -3px;
    font-size: 0px;
    padding-left: 30px;
    padding-right: 1px;
  }
  .profile-actions-list .profile-actions-item--icononly::before {
    left: 3px;
  }
  .profile-actions-list .profile-actions-item--textonly {
    padding-left: 8px;
  }
  .profile-actions-list .profile-actions-item--textonly::before {
    width: 0px;
    height: 0px;
  }
  .empty--caption {
    margin-top: 15px;
    font-size: 19px;
    line-height: 23px;
  }
}
