.profile-section--hidden {
    opacity: 0;
    transform: translateY(20px);
}

.profile-section--invis {
    display: none;
}

.profile-section {
    @include transition-ease(0.4s);
}

.media-sel {
    margin-top: 15px;
    width: 100%;
    height: 35px;
    border-bottom: 2px solid $bot-level;
    position: relative;
    @include transition-ease(.25s);

    &::before {
        content: "";
        position: absolute;
        border-bottom: 2px solid $bot-level;
        width: calc(50vw - 750px);
        height: 10px;
        left: 0px;
        bottom: -2px;
        transform: translateX(-100%);

    }
    &::after {
        content: "";
        position: absolute;
        border-bottom: 2px solid $bot-level;
        width: calc(50vw - 750px);
        height: 10px;
        right: 0px;
        bottom: -2px;
        transform: translateX(100%);
    }
    &-cont {
        padding-left: 0px;
        width: 100%;
        white-space: nowrap;
        overflow-x: scroll;
        @include no-scrollbar;
    }

    &-item {
        margin-right: 20px;
        height: 35px;
        display: inline-block;
        cursor: pointer;
        position: relative;
        &-title {
            color: $caption-top;
            font-family: $metropolis;
            font-size: 21px;
            font-weight: 600;
            margin: 0px;
            text-align: center;
            @include transition-ease(.25s);
            position: relative;

        }
        &:active .media-sel-item-title, &:hover .media-sel-item-title, &:focus .media-sel-item-title {
            color: $body-lt;
        }
        &:first-child {
            margin-left: 50px;
        }
        &--selected {
            .media-sel-item-title {
                color: $body-lt;
                padding-left: 10px;
                padding-right: 10px;
            }
            &::after {
                content: "";
                position: absolute;
                bottom: 0px;
                width: 100%;
                height: 5px;
                background: $red;
            }
        }
    }
}

@media (max-width: 1280px) {
    .media-sel {
        &-item {
            margin-right: 20px;
        }
    }
}

@media (max-width: 525px) {
    //nav-padding changed to 30px
    .media-sel {
        &-item {
            margin-right: 17px;
            &:first-child {
                margin-left: 30px;
            }
        }
    }
}

@media (max-width: 425px) {
    //nav-padding changed to 20px
    .media-sel {
        height: 33px;
        &-item {
            &:first-child {
                //margin-left: 20px;
            }
            height: 33px;
            &--selected {
                &::after {
                    height: 4px;
                }
                .media-sel-item-title {
                    padding-left: 6px;
                    padding-right: 6px;
                }
            }
            &-title {
                font-size: 20px;
            }
        }
    }
}


@media (max-width: 375px) {
    .media-sel {
        height: 33px;
        &-cont {
            margin-top: 0px;
        }
    }
}
