$watchr-red: #ff2c2c;
$watchr-darkred: #bf2030;
$red: #ff4040;
$yellow: #ffdd6b;
$green: #00bf71;
$blue: #138fdf;
$purple: #7946fb;
$white: #fff;
$body-lt: rgb(199, 204, 214);
$body: #9fa4ae;
$caption: #384b60;
$caption-top: #576777;
$top-level: #334256;
$mid-level: #222c3a;
$mid-level-tr: rgba(34, 44, 58, 0);
$bot-level: #1a2431;
$bot-level-tr: rgba(26, 36, 49, 0);
$background: #0f1923;
$grad-blgr: linear-gradient(to right, $blue, mix($blue, $green));
$grad-oryl: linear-gradient(to right, mix($red, $yellow), $yellow);
$grad-gryw: linear-gradient(to right, $green, mix($green, $yellow));
$title-fade: linear-gradient(to left, $mid-level, $mid-level-tr);

$nunito: "Nunito", sans-serif;
$metropolis: "Metropolis", sans-serif;
$roboto: "Roboto", sans-serif;

@mixin transition-ease($timing) {
    -webkit-transition: $timing ease;
    -moz-transition: $timing ease;
    -ms-transition: $timing ease;
    -o-transition: $timing ease;
    transition: $timing ease;
}

@mixin transition-jelly($timing) {
    -webkit-transition: all $timing cubic-bezier(0,.63,.5,2), background $timing ease;
    -moz-transition: all $timing cubic-bezier(0,.63,.5,2), background $timing ease;
    -ms-transition: all $timing cubic-bezier(0,.63,.5,2), background $timing ease;
    -o-transition: all $timing cubic-bezier(0,.63,.5,2), background $timing ease;
    transition: all $timing cubic-bezier(0,.63,.5,2), background $timing ease;
}

@mixin no-select() {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

@mixin no-scrollbar() {
    &::-webkit-scrollbar {
        width: 0px;  /* remove scrollbar space */
        height: 0px;
        background: transparent;  /* optional: just make scrollbar invisible */
    }
}

.empty {
    margin-top: 20px;
    position: relative;
    width: 100%;
    white-space: normal;
    &--image {
        position: relative;
        width: 100%;
        height: 300px;
        background-image: url("/img/defaults/empty.png");
        background-position: bottom;
        background-size: contain;
        background-repeat: no-repeat;
        &::after {
            content: '';
            position: absolute;
            height: 3px;
            width: 100%;
            background: $top-level;
            bottom: 0px;
            left: 0px;
        }
    }
    &--caption {
        color: $top-level;
        text-align: center;
        font-family: $nunito;
        margin-top: 25px;
        font-size: 25px;
        line-height: 30px;
        font-weight: 700;
    }
    &--action {
        margin-top: 3px;
        margin-bottom: 10px;
        text-align: center;
        cursor: pointer;
        &--caption {
            display: inline-block;
            color: $caption-top;
            text-align: center;
            font-family: $nunito;
            font-size: 16px;
            line-height: 20px;
            font-weight: 600;
            margin-right: 3px;
        }
        &--arrow {
            display: inline-block;
            height: 12px;
            width: 20px;
            background-image: url("/img/arrow-left.png");
            background-position: bottom;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}

@media (max-width: 1500px) {
    .empty {
        width: calc(100% - 50px);
    }
}

@media (max-width: 750px) {
    .empty {
        &--image {
            height: 200px;
        }
    }
}

@media (max-width: 525px) {
    .empty {
        width: calc(100% - 30px);
        &--image {
            height: 150px;
        }
    }
}

@media (max-width: 425px) {
    .empty {
        width: calc(100% - 20px);
    }
}


@media (max-width: 375px) {
    .empty {
        &--caption {
            margin-top: 15px;
            font-size: 22px;
            line-height: 26px;
        }
        &--action {
            &--caption {
                font-size: 14px;
                line-height: 17px;
                margin-right: 2px;
            }
            &--arrow {
                height: 9px;
                width: 17px;
            }
        }
    }
}

@media (max-width: 350px) {
    .empty {
        &--caption {
            margin-top: 15px;
            font-size: 19px;
            line-height: 23px;
        }
    }
}
