@import "var";

body {
    background: $background;
    width: 100vw;
    margin: 0;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.content {
    width: 100%;
    max-width: 1500px;
    position: relative;
    margin: 0 auto;
    margin-top: 65px;
    z-index: 1;
    flex: 1;
}

h1 {
    color: $red;
    font-family: $montserrat;
    font-size: 50px;

}

.slider {
    width: 100%;
    height: 400px;
    background: $top-level;
}

@media (max-width: 1280px) {
    .content {
        margin-top: 125px;
    }
}

@media (max-width: 525px) {
    // 30px
}

@media (max-width: 425px) {
    // 20px
    .content {
        margin-top: 110px;
    }
}
