@import "var";
@import "sections";
@import "modals";

body {
    background-color: $background;
    /*background-image: url("/img/background.png");
    background-attachment: fixed;
    background-size: 400px;*/
    position: relative;
    width: 100vw;
    margin: 0;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.overlay {
    overflow-y: scroll;
    position: fixed;
    width: 100%;
    height: calc(100vh - 60px);
    bottom: 0px;
    background: $mid-level;
    opacity: 1;
    z-index: 5;
    transition: all 0.5s ease, height 0.01s;
    &--hidden {
        transform: translateX(100%);
        opacity: 0;
    }
    &--end {
        .overlay-header {
            display: none;
        }
    }
    &--process {
        &::before {
            height: 165px !important;
        }
        .overlay-content {
            .overlay-container {
                margin-top: 115px !important;
                padding-top: 105px !important;
                .overlay-img {
                    width: 180px;
                    height: 180px;
                    top: -90px;
                }
                .overlay-header {
                    display: none;
                }
            }
        }
    }
    &::before {
        content: '';
        position: absolute;
        background: $background;
        top: 0px;
        width: 100%;
        height: 200px;
        z-index: 1;
        @include transition-ease(0.25s);
    }
    &-back {
        overflow: hidden;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 60px;
        background: rgba(34, 44, 58, 0.3);
        z-index: 3;
        @include transition-ease(0.25s);
        &--hidden {
            height: 0px;
        }
        &-btn {
            display: inline-flex;
            align-items: center;
            position: relative;
            margin-left: calc(50vw - 700px);
            height: 26px;
            margin-top: 16px;
            cursor: pointer;
            &-arrow {
                display: inline-block;
                width: 26px;
                height: 26px;
                background: url("/img/btn/back.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                margin-right: 15px;
            }
            &-type {
                position: relative;
                top: 1px;
                color: $yellow;
                display: inline-block;
                font-family: $nunito;
                font-weight: 700;
                font-size: 20px;
                line-height: 26px;
                @include transition-ease(0.25s);
            }
        }
    }
    &-content {
        position: relative;
        padding-top: 50px;
        margin: 0 auto;
        width: 100%;
        max-width: 1500px;
        z-index: 2;
        opacity: 1;
        &-page {
            @include transition-ease(0.25s);
            &--hidden {
                opacity: 0;
                &_left {
                    transform: translateX(-10px);
                }
                &_right {
                    transform: translateX(10px);
                }
            }
            &--invis {
                display: none;
            }
        }
        .overlay-container {
            position: relative;
            width: 100%;
            margin: 150px auto 0;
            background: $mid-level;
            padding-top: 145px;
            padding-bottom: 50px;
            @include transition-ease(0.25s);
            &-back {
                position: absolute;
                top: 20px;
                margin-left: 30px;
                width: 25px;
                height: 25px;
                background: url("/img/btn/back-light.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                cursor: pointer;
                opacity: 1;
                @include transition-ease(0.25s);
                &--hidden {
                    transform: translateX(-55px);
                    opacity: 0;
                }
            }
        }
    }
    &-img {
        position: absolute;
        top: -125px;
        left: 50%;
        transform: translateX(-50%);
        width: 250px;
        height: 250px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        @include transition-jelly(0.25s);
    }
    &-header {
        position: relative;
        text-align: center;
        color: $body-lt;
        font-family: $metropolis;
        font-weight: 800;
        font-size: 80px;
        line-height: 80px;
        margin-bottom: 7px;
    }
    &-subheader {
        position: relative;
        text-align: center;
        color: $body-lt;
        font-family: $metropolis;
        font-weight: 600;
        font-size: 50px;
        line-height: 50px;
        margin-bottom: 7px;
    }
    &-caption {
        text-align: center;
        color: $body;
        font-family: $nunito;
        font-size: 18px;
        font-weight: 400;
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 5px;
        &--main {
            font-family: $metropolis;
            color: $body-lt;
            font-weight: 500;
            font-size: 22px;
            line-height: 26px;
            margin-bottom: 15px;
        }
        &--sub {
            color: $caption-top;
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 30px;
        }
    }
    &-btn {
        margin: 15px auto 0;
        width: 80%;
        max-width: 400px;
        height: 44px;
        border: 3px solid $body;
        border-radius: 5px;
        text-align: center;
        line-height: 44px;
        font-family: $metropolis;
        font-size: 16px;
        font-weight: 500;
        color: $body;
        cursor: pointer;
        &--primary {
            color: $white;
            border-color: $blue;
            background: $blue;
            &--disabled {
                cursor: not-allowed;
                color: $mid-level;
                border-color: $caption-top;
                background: $caption-top;
            }
        }
    }
    &--spacing {
        height: 10px;
    }
}

#overlay--challenge {
    .overlay-img {
        background-image: url("/img/illus/challenge.png");
    }
    .overlay-header {
        color: $yellow;
    }
    .opponent-list {
        margin-top: 20px;
        display: inline-block;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        .opponent-item {
            display: inline-block;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background-image: url("/img/defaults/add.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin-left: 5px;
            margin-right: 5px;
            @include transition-jelly(0.25s);
            &--disabled {
                //background: $bot-level;
                transform: scale(0.8);
                opacity: 0.7;
            }
        }
    }
    .searchbox {
        margin-top: 20px;
        margin-bottom: 25px;
        position: relative;
        width: 90%;
        max-width: 600px;
        left: 50%;
        transform: translateX(-50%);
        &--large {
            .searchbox--bottom {
                height: 400px;
            }
        }
        &--top {
            width: 100%;
            height: 50px;
            &::before {
                content: '';
                position: absolute;
                width: 36px;
                height: 36px;
                background-image: url("/img/btn/search.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                left: 13px;
                top: 7px;
                z-index: 1;
            }
            .searchbox--bar {
                -webkit-appearance: none;
                position: relative;
                width: 100%;
                height: 100%;
                padding-left: 60px;
                padding-right: 50px;
                font-family: $nunito;
                font-size: 18px;
                font-weight: 600;
                border-radius: 12px;
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 0px;
                background-color: $bot-level;
                color: $body;
                @include transition-ease(0.2s);
                &:focus {
                    outline: none;
                }
                &::-webkit-search-cancel-button{
                    content: "";
                    position: absolute;
                    top: 17px;
                    right: 20px;
                    -webkit-appearance: none;
                    width: 15px;
                    height: 15px;
                    background-image: url("/img/btn/search-cancel.png");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    cursor: pointer;
                }
                &::-webkit-input-placeholder{
                    color: $top-level;
                }
                &::-moz-input-placeholder{
                    color: $top-level;
                }
                &::-ms-input-placeholder{
                    color: $top-level;
                }
                &::-o-input-placeholder{
                    color: $top-level;
                }
            }
        }
        &--bottom {
            height: 300px;
            background: $bot-level;
            border-top: 3px solid $mid-level;
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;
            overflow-y: scroll;
            .searchbox-list {
                position: relative;
                margin: 20px auto 0;
                width: 90%;
                .searchbox-caption {
                    overflow: visible;
                    text-align: center;
                    color: $caption;
                    font-size: 20px;
                    font-family: $nunito;
                    font-weight: 600;
                    margin-top: 50px;
                }
                .searchbox-item {
                    display: block;
                    position: relative;
                    margin-bottom: 20px;
                    width: 100%;
                    height: 90px;
                    background: $mid-level;
                    border-radius: 15px;
                    &--added {
                        .searchbox-item--button {
                            &::before {
                                top: -90px;
                            }
                            &::after {
                                top: 10px;
                            }
                        }
                    }
                    &--disabled {
                        .searchbox-item--button {
                            cursor: not-allowed;
                            &::before {
                                background-image: url("/img/btn/challenge-item-disabled.png")
                            }
                        }
                    }
                    &--user {
                        .searchbox-item--cover {
                            border-radius: 50%;
                            background-image: url("/img/defaults/profile.png");
                        }
                    }
                    &--show {
                        .searchbox-item--cover {
                            border-radius: 10px;
                            background-image: url("/img/defaults/show.png");
                        }
                    }
                    &--cover {
                        display: inline-block;
                        position: absolute;
                        height: 70px;
                        width: 70px;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        margin-top: 10px;
                        margin-left: 20px;
                    }
                    &--title {
                        position: relative;
                        display: inline-block;
                        margin-top: 15px;
                        margin-left: 110px;
                        width: calc(100% - 210px);
                        color: $body-lt;
                        font-size: 18px;
                        font-family: $nunito;
                        font-weight: 600;
                        line-height: 22px;
                        max-height: 44px;
                        overflow: hidden;
                    }
                    &--caption {
                        display: block;
                        margin-left: 110px;
                        width: calc(100% - 210px);
                        color: $caption-top;
                        font-size: 15px;
                        font-family: $nunito;
                        font-weight: 600;
                        line-height: 15px;
                        max-height: 15px;
                        overflow: hidden;
                    }
                    &--button {
                        position: absolute;
                        right: 0px;
                        top: 0px;
                        width: 90px;
                        height: 90px;
                        overflow: hidden;
                        border-left: 3px solid $bot-level;
                        cursor: pointer;
                        &::before {
                            content: '';
                            position: absolute;
                            width: 70px;
                            height: 70px;
                            top: 10px;
                            left: 10px;
                            background-image: url("/img/btn/challenge-item-sword.png");
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                            @include transition-ease(0.25s);
                        }
                        &::after {
                            content: '';
                            position: absolute;
                            width: 70px;
                            height: 70px;
                            top: 110px;
                            left: 10px;
                            background-image: url("/img/btn/challenge-item-check.png");
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                            @include transition-ease(0.25s);
                        }
                    }
                }
            }
        }
    }
    .challenge-review-list {
        margin: 20px auto 40px;
        width: 90%;
        max-width: 600px;
        .challenge-review-header {
            line-height: 22px;
            font-family: $metropolis;
            font-size: 18px;
            font-weight: 500;
            color: $yellow;
            margin-bottom: 10px;
        }
        .challenge-review-item {
            display: block;
            position: relative;
            margin-bottom: 10px;
            width: 100%;
            height: 90px;
            background: $bot-level;
            border-radius: 15px;
            &--user {
                .challenge-review-item--cover {
                    border-radius: 50%;
                    background-image: url("/img/defaults/profile.png");
                }
            }
            &--show {
                .challenge-review-item--cover {
                    border-radius: 10px;
                    background-image: url("/img/defaults/show.png");
                }
            }
            &--cover {
                display: inline-block;
                position: absolute;
                height: 70px;
                width: 70px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                margin-top: 10px;
                margin-left: 20px;
            }
            &--title {
                position: relative;
                display: inline-block;
                margin-top: 15px;
                margin-left: 110px;
                width: calc(100% - 140px);
                color: $body-lt;
                font-size: 18px;
                font-family: $nunito;
                font-weight: 600;
                line-height: 22px;
                max-height: 44px;
                overflow: hidden;
            }
            &--caption {
                display: block;
                margin-left: 110px;
                width: calc(100% - 210px);
                color: $caption-top;
                font-size: 15px;
                font-family: $nunito;
                font-weight: 600;
                line-height: 15px;
                max-height: 15px;
                overflow: hidden;
            }
        }
    }
}

@media (max-width: 1500px) {
    .overlay {
        &-back {
            &-btn {
                margin-left: 50px;
            }
        }
        &-content {
            .overlay-container {
                border-radius: 0px;
            }
        }
    }
}

@media (max-width: 1280px) {
    .overlay {
        height: calc(100vh - 125px);
    }
}

@media (max-width: 670px) {
    .overlay {
        &-header {
            font-size: 70px;
            line-height: 70px;
        }
    }
}

@media (max-width: 525px) {
    .overlay {
        &-back {
            &-btn {
                margin-left: 30px;
            }
        }
        .overlay-content {
            .overlay-container {
                margin: 125px auto 0;
                background: $mid-level;
                padding-top: 120px;
            }
        }
        &-img {
            top: -100px;
            width: 200px;
            height: 200px;
        }
        &-header {
            font-size: 55px;
            line-height: 55px;
        }
        &-subheader {
            font-size: 40px;
            line-height: 40px;
        }
        &-caption {
            font-size: 16px;
            &--main {
                font-size: 20px;
                line-height: 24px;
            }
            &--sub {
                font-size: 14px;
            }
        }
    }
}

@media (max-width: 475px) {
}

@media (max-width: 425px) {
    .overlay {
        height: calc(100vh - 110px);
        &-back {
            &-btn {
                margin-left: 20px;
            }
        }
        .overlay-container {
            &-back {
                margin-left: 20px;
            }
        }
        &-header {
            font-size: 45px;
            line-height: 45px;
        }
    }
    #overlay--challenge {
        .searchbox {
            &--bottom {
                .searchbox-list {
                    .searchbox-item {
                        &--added {
                            .searchbox-item--button {
                                &::before {
                                    top: -110px;
                                }
                                &::after {
                                    top: 20px;
                                }
                            }
                        }
                        &--cover {
                            height: 50px;
                            width: 50px;
                            margin-top: 20px;
                            margin-left: 15px;
                        }
                        &--title {
                            margin-top: 18px;
                            margin-left: 80px;
                            width: calc(100% - 170px);
                            font-size: 17px;
                            line-height: 20px;
                            max-height: 40px;
                        }
                        &--caption {
                            margin-left: 80px;
                            width: calc(100% - 170px);
                            font-size: 13px;
                            line-height: 13px;
                        }
                        &--button {
                            width: 70px;
                            height: 90px;
                            &::before {
                                width: 50px;
                                height: 50px;
                                top: 20px;
                            }
                            &::after {
                                width: 50px;
                                height: 50px;
                                top: 110px;
                            }
                        }
                    }
                }
            }
        }
        .challenge-review-list {
            .challenge-review-item {
                &--cover {
                    height: 50px;
                    width: 50px;
                    margin-top: 20px;
                    margin-left: 15px;
                }
                &--title {
                    margin-top: 16px;
                    margin-left: 80px;
                    width: calc(100% - 170px);
                    font-size: 17px;
                    line-height: 20px;
                    max-height: 40px;
                }
                &--caption {
                    margin-left: 80px;
                    width: calc(100% - 170px);
                    font-size: 13px;
                    line-height: 13px;
                }
            }
        }
    }
}

@media (max-width: 350px) {
    .overlay {
        &-header {
            font-size: 40px;
            line-height: 40px;
        }
    }
}



.content {
    width: 100%;
    max-width: 1500px;
    position: relative;
    margin: 0 auto;
    margin-top: 65px;
    z-index: 1;
    flex: 1;
}

h1 {
    color: $white;
    font-family: $metropolis;
    font-size: 50px;
    line-height: 50px;
    margin: 0;
    padding: 0;
}

h2 {
    color: $white;
    font-family: $metropolis;
    margin-top: 4px;
    font-size: 27px;
    line-height: 27px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

h3 {
    color: $white;
    font-family: $nunito;
    margin-top: 4px;
    font-size: 22px;
    line-height: 22px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

h4 {
    color: $body;
    font-family: $nunito;
    margin-top: 4px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    margin: 0;
    margin-top: 10px;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.see-all {
    white-space: normal;
    overflow: visible;
}

.hero {
    position: relative;
    width: 100vw;
    left: calc(750px - 50vw);
    height: 400px;
    background: url("/img/defaults/hero.png");
    background-position: center;
    background-size: cover;
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: $bot-level;
        bottom: 0;
        opacity: .2;
    }
    .profile-header {
        position: absolute;
        left: calc(50vw - 700px);
        bottom: -85px;
        &-img {
            position: relative;
            left: -10px;
            width: 150px;
            height: 150px;
            background-image: url("/img/defaults/profile.png");
            background-position: center;
            background-size: cover;
            border-radius: 50%;
            display: inline-block;
            vertical-align: bottom;
            border: 10px solid $background;
        }
    }
}

.section {
    position: relative;
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 20px;
    border-bottom: 2px solid $bot-level;
    &:last-child, &:last-child::before, &:last-child::after {
        border-width: 0px;
    }
    &::before {
        content: "";
        position: absolute;
        width: calc(50vw - 750px);
        height: 10px;
        left: 0;
        bottom: -2px;
        transform: translateX(-100%);
        border-bottom: 2px solid $bot-level;
    }
    &::after {
        content: "";
        position: absolute;
        width: calc(50vw - 750px);
        height: 10px;
        right: 0;
        bottom: -2px;
        transform: translateX(100%);
        border-bottom: 2px solid $bot-level;
    }
    .section-header {
        position: relative;
        padding-right: 20px;
        &-type {
            display: inline-block;
            &--sub {
                margin-left: 5px;
                display: inline-block;
                font-size: 20px;
                line-height: 20px;
                color: $body;
                span {
                    margin-left: 3px;
                    margin-right: 3px;
                }
            }
        }
        &-seeall {
            position: relative;
            bottom: -7px;
            display: inline-block;
            float: right;
            color: $top-level;
            font-family: $nunito;
            font-size: 16px;
            line-height: 16px;
            font-weight: 400;
            margin-right: 16px;
            cursor: pointer;
            @include transition-ease(0.25s);
            &--small {
                bottom: -1px;
            }
            &::before {
                content: "";
                position: absolute;
                width: 8px;
                height: 8px;
                border-top: 2px solid $top-level;
                border-right: 2px solid $top-level;
                right: -4px;
                bottom: 4px;
                transform: translateX(100%) rotate(45deg);
                @include transition-ease(0.25s);
            }
            &.section-header-seeall-open {
                color: $caption-top;
                &:before {
                    border-color: $caption-top;
                    right: -10px;
                    bottom: 6px;
                    transform: translateX(100%) rotate(135deg);
                }
                &:hover, &:focus, &:active {
                    &:before {
                        right: -10px;
                        //transform: translateX(100%) rotate(150deg);
                    }
                }
            }
            &:hover, &:focus, &:active {
                color: $caption-top;
                &:before {
                    border-color: $caption-top;
                    right: -6px;
                }
            }
        }
    }
}

.header {
    margin-top: 75px;
    &-info {
        display: block;
        margin-bottom: 15px;
        &-name {
            display: inline-block;
            margin-right: 15px;
            line-height: 50px;
        }
        &-rank {
            display: inline-flex;
            align-items: center;
            margin-bottom: 5px;
            padding-right: 30px;
            &-img {
                width: 30px;
                height: 30px;
                background: url("/img/rank.png");
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                margin-right: 5px;
            }
            &-type {
                color: $caption-top;
                font-family: $nunito;
                font-size: 16px;
                line-height: 16px;
            }
        }
    }
    &-desc {
        color: $body;
        font-family: $nunito;
        font-size: 16px;
        line-height: 20px;
        max-width: 1000px;
        padding-right: 30px;
    }
}

.profile-actions-list {
    margin-top: 10px;
    margin-right: 30px;
    float: right;
    .profile-actions-item {
        display: inline-block;
        position: relative;
        color: $body;
        font-family: $nunito;
        font-size: 16px;
        line-height: 16px;
        font-weight: 600;
        padding: 8px;
        padding-left: 40px;
        padding-right: 10px;
        border: 2px solid $body;
        border-radius: 7px;
        margin-left: 5px;
        @include no-select();
        @include transition-ease(0.1s);
        cursor: pointer;
        &::before {
            content: "";
            position: absolute;
            width: 30px;
            height: 30px;
            left: 7px;
            top: 0px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            @include transition-ease(0.1s);
        }
        &--icononly {
            font-size: 0px;
            top: -5px;
            padding-right: 0px;
            &::before {
                left: 5px;
            }
        }
        &--textonly {
            padding-left: 12px;
            &::before {
                width: 0px;
                height: 0px;
            }
        }
        &--challenge {
            color: $yellow;
            border-color: $yellow;
            &::before {
                background-image: url("/img/btn/challenge.png");
            }
            &:hover, &:focus, &:active {
                color: $background;
                background: $yellow;
                &::before {
                    background-image: url("/img/btn/challenge-hover.png");
                }
            }
        }
        &--recommend {
            color: $green;
            border-color: $green;
            &::before {
                background-image: url("/img/btn/recommend.png");
            }
            &:hover, &:focus, &:active {
                color: $background;
                background: $green;
                &::before {
                    background-image: url("/img/btn/recommend-hover.png");
                }
            }
        }
        &--friends {
            color: $blue;
            border-color: $blue;
            &::before {
                background-image: url("/img/btn/friends.png");
            }
            &:hover, &:focus, &:active {
                color: $white;
                background: $blue;
                &::before {
                    background-image: url("/img/btn/friends-hover.png");
                }
            }
        }
        &--addfriend {
            color: $red;
            border-color: $red;
            &::before {
                background-image: url("/img/btn/addfriend.png");
            }
            &:hover, &:focus, &:active {
                color: $white;
                background: $red;
                &::before {
                    background-image: url("/img/btn/addfriend-hover.png");
                }
            }
        }
        &--settings {
            &::before {
                background-image: url("/img/btn/settings.png");
            }
            &:hover, &:focus, &:active {
                color: $white;
                background: $body;
                &::before {
                    background-image: url("/img/btn/settings-hover.png");
                }
            }
        }
    }
}

.experience {
    &-show, &-movie {
        margin-top: 10px;
        padding-left: 40px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 25px;
            height: 25px;
            left: 0px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
        &--years, &--months, &--days, &--hours {
            display: inline-block;
            color: $body;
            font-family: $nunito;
            font-size: 16px;
            line-height: 27px;
            font-weight: 700;
            span {
                font-weight: 400;
            }
        }
        &--hidden {
            display: none;
        }
    }
    &-show {
        margin-top: 15px;
        &::before {
            background-image: url("/img/show.png");
        }
    }
    &-movie {
        &::before {
            background-image: url("/img/movie.png");
        }
    }
}

.genre-list {
    .genre-item {
        margin-top: 15px;
        width: 125px;
        height: 125px;
        background: $bot-level;
        border-radius: 50%;
        display: inline-block;
        margin-right: 20px;
        position: relative;
        cursor: pointer;
        &-img {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 90%;
            background-position: bottom;
            background-repeat: no-repeat;
            background-size: contain;
        }
        &-type {
            position: absolute;
            max-width: 80%;
            bottom: 18px;
            left: 50%;
            transform: translateX(-50%);
            color: $caption-top;
            text-align: center;
            font-family: $nunito;
            font-size: 12px;
            line-height: 12px;
            font-weight: 700;
        }
    }
}

.friend-list {
    margin-bottom: 15px;
    white-space: nowrap;
    overflow-x: scroll;
    @include no-scrollbar;
    .friend-item {
        margin-top: 30px;
        margin-right: 30px;
        width: 160px;
        //height: 200px;
        display: inline-block;
        background: $mid-level;
        border-radius: 20px;
        &-img {
            position: relative;
            width: 130px;
            height: 130px;
            background-image: url("/img/defaults/profile.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 50%;
            margin-left: 15px;
            margin-top: 15px;
        }
        &-info {
            text-align: center;
            &-name {
                margin-top: 10px;
                display: block;
                color: $body;
                font-family: $nunito;
                font-size: 18px;
                line-height: 20px;
                font-weight: 600;
            }
            &-rank {
                margin-top: 3px;
                margin-bottom: 10px;
                display: block;
                color: $caption-top;
                font-family: $nunito;
                font-size: 14px;
                line-height: 18px;
                font-weight: 400;
            }
        }
        &-btn {
            width: 100%;
            position: relative;
            height: 40px;
            border-top: 2px solid $bot-level;
            cursor: pointer;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            @include transition-ease(0.1s);
            &--text {
                display: inline-block;
                font-family: $nunito;
                font-size: 16px;
                line-height: 40px;
                font-weight: 400;
                white-space: nowrap;
                vertical-align: top;
            }
            &--img {
                display: inline-block;
                position: relative;
                margin-right: 8px;
                width: 25px;
                height: 25px;
                top: -1px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
            &--you-cont, &--friends-cont, &--addfriend-cont {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                display: flex;
                align-items: center;
            }
            &--you {
                color: $blue;
                .friend-item-btn--img {
                    display: none;
                }
                &:hover {
                    background-color: $blue;
                    color: $white;
                }
            }
            &--friends {
                color: $green;
                .friend-item-btn--img {
                    background-image: url("/img/btn/check-green.png");
                }
                &:hover {
                    background-color: $green;
                    color: $white;
                    .friend-item-btn--img {
                        background-image: url("/img/btn/check-hover.png");
                    }
                }
            }
            &--addfriend {
                color: $red;
                .friend-item-btn--img {
                    background-image: url("/img/btn/addfriend.png");
                }
                &:hover {
                    background-color: $red;
                    color: $white;
                    .friend-item-btn--img {
                        background-image: url("/img/btn/addfriend-hover.png");
                    }
                }
            }
        }
    }
}

.show-list {
    margin-top: 15px;
    .show-item {
        vertical-align: top;
        display: inline-block;
        width: 200px;
        background: $mid-level;
        position: relative;
        border-radius: 20px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        &-yours {
            .show-item-progress--them {
                display: none;
            }
            .show-item-progress--you {
                display: block;
                top: 165px;
            }
            .show-item-title {
                margin-top: 15px !important;
            }
        }
        &::before {
            content: "";
            position: absolute;
            width: 30px;
            height: 35px;
            right: 15px;
            bottom: 50px;
            background: $title-fade;
        }
        &::after {
            content: "";
            position: absolute;
            width: 15px;
            height: 35px;
            right: 0px;
            bottom: 50px;
            background: $mid-level;
        }
        &--added {
            .show-item-btn--add-cont {
                height: 0px;
                border-width: 0px;
            }
            .show-item-btn--added-cont {
                height: 44px;
                border-width: 2px;
            }
            .show-item-progress--you {
                display: block;
            }
            .show-item-title {
                margin-top: 45px;
            }
        }
        &-cover {
            border-radius: 10px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            position: relative;
            margin-top: 15px;
            margin-left: 15px;
            width: 170px;
            height: 170px;
            background: url("/img/defaults/show.png");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        &-progress {
            position: absolute;
            width: calc(100% + 20px);
            height: 20px;
            background: $top-level;
            left: -10px;
            border-radius: 10px;
            overflow: hidden;
            @include transition-ease(0.25s);
            z-index: 2;
            &--them {
                top: 165px;
                &.show-item-progress--finished {
                    background: $grad-oryl;
                    .show-item-progress-bar {
                        background: $green;
                    }
                }
                .show-item-progress-bar {
                    background: $grad-oryl;
                }
            }
            &--you {
                display: none;
                top: 195px;
                &.show-item-progress--finished {
                    background: $grad-blgr;
                    .show-item-progress-bar {
                        background: $green;
                    }
                }
                .show-item-progress-bar {
                    background: $grad-blgr;
                }
            }
            &-bar {
                position: relative;
                width: 0%;
                height: 100%;
                border-radius: 10px;
                background-size: 220px;
                @include transition-ease(0.25s);
            }
        }
        &-title {
            white-space: nowrap;
            overflow: hidden;
            width: calc(100% - 20px);
            margin-top: 15px;
            margin-left: 15px;
            color: $body-lt;
            font-family: $nunito;
            font-size: 20px;
            font-weight: 600;
            line-height: 18px;
            margin-bottom: 15px;
            @include transition-ease(0.25s);
        }
        &-btn {
            width: 100%;
            height: 44px;
            border-top: 2px solid $bot-level;
            color: $white;
            font-family: $nunito;
            font-size: 16px;
            font-weight: 400;
            text-align: center;
            cursor: pointer;
            overflow: hidden;
            @include no-select();
            @include transition-ease(0.2s);
            p {
                position: relative;
                top: 1px;
                vertical-align: top;
                line-height: 44px;
            }
            &--add-cont, &--added-cont {
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
            }
            &--add {
                height: 30px;
                width: 30px;
                background: url("/img/btn/add.png");
                background-repeat: no-repeat;
                background-size: contain;
                position: relative;
                display: inline-block;
                margin-right: 3px;
                top: 7px;
                + p {
                    color: $red;
                }
            }
            &--add-cont:hover,&--add-cont:focus, &--add-cont:active {
                background: $red;
                .show-item-btn--add {
                    background-image: url("/img/btn/add-hover.png");
                }
                p {
                    color: $white;
                }
            }
            &--added {
                height: 30px;
                width: 30px;
                background: url("/img/btn/check.png");
                background-repeat: no-repeat;
                background-size: contain;
                position: relative;
                display: inline-block;
                margin-right: 3px;
                top: 7px;
                + p {
                    color: $blue;
                }
            }
            &--added-cont {
                height: 0px;
                border-width: 0px;
            }
            &--added-cont:hover,&--added-cont:focus, &--added-cont:active {
                background: $blue;
                .show-item-btn--added {
                    background-image: url("/img/btn/check-hover.png");
                }
                p {
                    color: $white;
                }
            }
        }
    }
}


#me {
    background-image: url("/img/profiles/me.jpg");
}
#lilia {
    background-image: url("/img/profiles/lilia.jpg");
}
#tanner {
    background-image: url("/img/profiles/tanner.png");
}
#mike {
    background-image: url("/img/profiles/mike.png");
}
#jess {
    background-image: url("/img/profiles/jess.png");
}
#eric {
    background-image: url("/img/profiles/eric.jpg");
}
#ray {
    background-image: url("/img/profiles/ray.jpg");
}
#maryann {
    background-image: url("/img/profiles/maryann.png");
}
#josh {
    background-image: url("/img/profiles/josh.png");
}
#ben {
    background-image: url("/img/profiles/ben.png");
}

#crime {
    background-image: url("/img/genres/crime.png");
}
#drama {
    background-image: url("/img/genres/drama.png");
}
#thriller {
    background-image: url("/img/genres/thriller.png");
}

#fargo {
    background-image: url("/img/shows/fargo.jpg");
}
#legion {
    background-image: url("/img/shows/legion.jpg");
}

@media (max-width: 1500px) {
    .hero {
        width: 100%;
        left: 0;
        .profile-header {
            left: 50px;
        }
    }
}

@media (max-width: 1280px) {
    .content {
        margin-top: 125px;
    }
    .hero {
        height: 300px;
    }
}

@media (max-width: 750px) {
    .hero {
        height: 250px;
    }
    .header {
        &-info {
            margin-bottom: 5px;
            &-name {
                display: block;
                font-size: 45px;
                margin-right: 0px;
                margin-bottom: 3px;
                line-height: 45px;
            }
            &-rank {
                &-img {
                    width: 36px;
                    height: 36px;
                    margin-right: 10px;
                }
                &-type {
                    font-size: 18px;
                    line-height: 18px;
                }
            }
        }
    }
}

@media (max-width: 525px) {
    .hero {
        .profile-header {
            left: 30px;
            bottom: -70px;
            &-img {
                width: 120px;
                height: 120px;
            }
        }
    }
    .header {
        margin-top: 60px;
        &-info {
            &-name {
                font-size: 40px;
                line-height: 40px;
            }
            &-rank {
                &-img {
                    width: 30px;
                    height: 30px;
                    margin-right: 6px;
                }
                &-type {
                    font-size: 18px;
                    line-height: 18px;
                }
            }
        }
    }
    .section {
        padding-left: 30px;
    }
}

@media (max-width: 425px) {
    .content {
        margin-top: 110px;
    }
    .section {
        padding-left: 20px;
        &-header {
            &-type {
                font-size: 27px;
                line-height: 27px;
            }
        }
    }
    .profile-actions-list {
        margin-right: 20px;
    }
    .hero {
        .profile-header {
            bottom: -70px;
            &-img {
                left: -8px;
                border-width: 8px;
                width: 100px;
                height: 100px;
            }
        }
    }
    .header {
        margin-top: 60px;
        &-info, &-desc {
            //margin-left: 10px;
        }
        &-info {
            &-name {
                font-size: 35px;
                line-height: 35px;
            }
            &-rank {
                &-img {
                    width: 25px;
                    height: 25px;
                    margin-right: 6px;
                }
                &-type {
                    font-size: 16px;
                    line-height: 16px;
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .profile-actions-list {
        margin-top: 10px;
        .profile-actions-item {
            font-size: 14px;
            line-height: 14px;
            padding: 7px;
            padding-top: 8px;
            padding-left: 36px;
            padding-right: 6px;
            border-radius: 7px;
            margin-left: 3px;
            border-radius: 6px;
            &::before {
                width: 27px;
                height: 27px;
                left: 4px;
                top: 0px;
            }
            &--icononly {
                top: -4px;
                font-size: 0px;
                padding-left: 30px;
                padding-right: 1px;
                &::before {
                    top: 1px;
                    left: 2px;
                }
            }
            &--textonly {
                padding-left: 7px;
                padding-right: 6px;
                &::before {
                    width: 0px;
                    height: 0px;
                }
            }
        }
    }
}

@media (max-width: 350px) {
    .section {
        &-header {
            &-type {
                font-size: 21px;
                line-height: 21px;
            }
        }
    }
    .hero {
        .profile-header {
            bottom: -60px;
            &-img {
                left: -6px;
                border-width: 6px;
                width: 84px;
                height: 84px;
            }
        }
    }
    .header {
        margin-top: 50px;
        &-info {
            margin-bottom: 3px;
            &-name {
                font-size: 27px;
                line-height: 27px;
            }
            &-rank {
                &-img {
                    width: 23px;
                    height: 23px;
                    margin-right: 6px;
                }
                &-type {
                    font-size: 14px;
                    line-height: 14px;
                }
            }
        }
        &-desc {
            font-size: 14px;
            padding-right: 20px;
        }
    }
    .profile-actions-list {
        margin-top: 12px;
        .profile-actions-item {
            font-size: 12px;
            line-height: 12px;
            padding: 6px;
            padding-top: 7px;
            padding-left: 32px;
            padding-right: 6px;
            border-radius: 7px;
            margin-left: 3px;
            border-radius: 6px;
            &::before {
                width: 25px;
                height: 25px;
                left: 3px;
                top: -1px;
            }
            &--icononly {
                top: -3px;
                font-size: 0px;
                padding-left: 30px;
                padding-right: 1px;
                &::before {
                    left: 3px;
                }
            }
            &--textonly {
                padding-left: 8px;
                &::before {
                    width: 0px;
                    height: 0px;
                }
            }
        }
    }
}
