@import "var";
@import "sections";
@import "modals";

body {
    background-color: $background;
    /*background-image: url("/img/background.png");
    background-attachment: fixed;
    background-size: 400px;*/
    position: relative;
    width: 100vw;
    margin: 0;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.content {
    width: 100%;
    max-width: 1500px;
    position: relative;
    margin: 0 auto;
    margin-top: 65px;
    z-index: 1;
    flex: 1;
}

h1 {
    color: $white;
    font-family: $metropolis;
    font-size: 50px;
    padding-left: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    @include transition-ease(.25s);
    span {
        color: $body;
    }
}

#searchform {
    max-width: 100% !important;
    width: calc(100% - 100px) !important;
    font-size: 0px;
    padding-top: 10px !important;
    .submit-button {
        position: absolute !important;
        right: 0px !important;
    }
}

.search-results {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    .search-item {
        height: 150px;
        width: 100%;
        background: $mid-level;
        margin-bottom: 20px;
        border-radius: 20px;
        position: relative;
        cursor: pointer;
        &--movie {
            height: 180px;
            .search-item--cover {
                background-image: url("/img/defaults/movie.png");
                width: 100px;
                height: 150px;
            }
        }
        &--user {
            .search-item--cover {
                background-image: url("/img/defaults/profile.png");
                border-radius: 50%;
            }
        }
        &--cover {
            position: absolute;
            border-radius: 10px;
            display: inline-block;
            width: 120px;
            height: 120px;
            background-image: url("/img/defaults/show.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            left: 15px;
            top: 15px;
        }
        &--title {
            padding-right: 20px;
            display: inline-block;
            margin-left: 150px;
            margin-top: 20px;
            color: $body-lt;
            font-family: $nunito;
            font-size: 20px;
            line-height: 23px;
            font-weight: 600;
            max-height: 69px;
            margin-bottom: 5px;
        }
        &--caption {
            padding-right: 20px;
            display: block;
            margin-left: 150px;
            margin-bottom: 3px;
            color: $caption-top;
            font-family: $nunito;
            font-size: 16px;
            line-height: 20px;
            font-weight: 700;
            max-height: 20px;
        }
    }
}

@media (max-width: 1280px) {
    .content {
        margin-top: 125px;
    }
}

@media (max-width: 525px) {
    //nav-padding changed to 30px
    h1 {
        font-size: 45px;
        padding-left: 30px;
    }
    .search-results {
        padding-left: 30px;
        padding-right: 30px;
    }
    #searchform {
        width: calc(100% - 60px) !important;
    }
}

@media (max-width: 425px) {
    //nav-padding changed to 20px
    .content {
        margin-top: 110px;
    }
    h1 {
        margin-top: 20px;
        font-size: 40px;
    }
    .search-results {
        padding-left: 20px;
        padding-right: 20px;
    }
    #searchform {
        width: calc(100% - 40px) !important;
    }
}

@media (max-width: 375px) {
    h1 {
        margin-top: 15px;
        font-size: 35px;
        margin-bottom: 7px;
    }
}
